<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Crear nueva subcategoría para #{clasificacionController.selected}" ></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateSubclasificacionLabel_idSubClasificacion}" for="idSubClasificacion" />
                    <p:inputText id="idSubClasificacion" value="#{subclasificacionController.selected.idSubClasificacion}" title="#{bundle.CreateSubclasificacionTitle_idSubClasificacion}" required="true" requiredMessage="#{bundle.CreateSubclasificacionRequiredMessage_idSubClasificacion}"/>
                    <h:outputLabel value="#{bundle.CreateSubclasificacionLabel_descripcion}" for="descripcion" />
                    <p:inputText id="descripcion" value="#{subclasificacionController.selected.descripcion}" title="#{bundle.CreateSubclasificacionTitle_descripcion}" required="true" requiredMessage="#{bundle.CreateSubclasificacionRequiredMessage_descripcion}"/>
                    
                </h:panelGrid>
                <br />
                <h:commandLink action="#{clasificacionController.agregarSubclasificacion}" value="#{bundle.CreateSubclasificacionSaveLink}" >
                    <f:setPropertyActionListener target="#{clasificacionController.subclasificacion}" value="#{subclasificacionController.selected}"/>
                    <f:setPropertyActionListener target="#{subclasificacionController.selected}" value="#{subclasificacionController.nuevo}" />
                </h:commandLink>
                <br />
                <br />
                
                <br />
                <h:link outcome="/clasificacion/View?faces-redirect=true" value="Regresar a clasificación">
                </h:link>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.CreateSubclasificacionIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
