<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditSubclasificacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditSubclasificacionLabel_idSubClasificacion}" for="idSubClasificacion" />
                    <p:inputText id="idSubClasificacion" value="#{subclasificacionController.selected.idSubClasificacion}" title="#{bundle.EditSubclasificacionTitle_idSubClasificacion}" required="true" requiredMessage="#{bundle.EditSubclasificacionRequiredMessage_idSubClasificacion}"/>
                    <h:outputLabel value="#{bundle.EditSubclasificacionLabel_descripcion}" for="descripcion" />
                    <p:inputText id="descripcion" value="#{subclasificacionController.selected.descripcion}" title="#{bundle.EditSubclasificacionTitle_descripcion}" required="true" requiredMessage="#{bundle.EditSubclasificacionRequiredMessage_descripcion}"/>
                    <h:outputLabel value="#{bundle.EditSubclasificacionLabel_clasificacion}" for="clasificacion" />
                    <p:selectOneMenu id="clasificacion" value="#{subclasificacionController.selected.clasificacion}" required="true" requiredMessage="#{bundle.EditSubclasificacionRequiredMessage_clasificacion}">
                        <f:selectItems value="#{clasificacionController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{subclasificacionController.update}" value="#{bundle.EditSubclasificacionSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditSubclasificacionViewLink}"/>
                <br />
                <h:commandLink action="#{subclasificacionController.prepareList}" value="#{bundle.EditSubclasificacionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.EditSubclasificacionIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
