<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListSubclasificacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListSubclasificacionEmpty}" rendered="#{subclasificacionController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{subclasificacionController.items.rowCount > 0}">
                    <h:outputText value="#{subclasificacionController.pagination.pageFirstItem + 1}..#{subclasificacionController.pagination.pageLastItem + 1}/#{subclasificacionController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{subclasificacionController.previous}" value="#{bundle.Previous} #{subclasificacionController.pagination.pageSize}" rendered="#{subclasificacionController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{subclasificacionController.next}" value="#{bundle.Next} #{subclasificacionController.pagination.pageSize}" rendered="#{subclasificacionController.pagination.hasNextPage}"/>&nbsp;
                    <p:dataTable value="#{subclasificacionController.items}" var="item" paginatorTemplate="{CurrentPageReport}  
                             {FirstPageLink} {PreviousPageLink} 
                             {PageLinks} {NextPageLink} 
                             {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15" >
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSubclasificacionTitle_idSubClasificacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.idSubClasificacion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSubclasificacionTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSubclasificacionTitle_clasificacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.clasificacion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{subclasificacionController.prepareView}" value="#{bundle.ListSubclasificacionViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{subclasificacionController.prepareEdit}" value="#{bundle.ListSubclasificacionEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{subclasificacionController.destroy}" value="#{bundle.ListSubclasificacionDestroyLink}"/>
                        </p:column>
                    </p:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{subclasificacionController.prepareCreate}" value="#{bundle.ListSubclasificacionCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.ListSubclasificacionIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
