<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewSubclasificacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewSubclasificacionLabel_idSubClasificacion}"/>
                    <h:outputText value="#{subclasificacionController.selected.idSubClasificacion}" title="#{bundle.ViewSubclasificacionTitle_idSubClasificacion}"/>
                    <h:outputText value="#{bundle.ViewSubclasificacionLabel_descripcion}"/>
                    <h:outputText value="#{subclasificacionController.selected.descripcion}" title="#{bundle.ViewSubclasificacionTitle_descripcion}"/>
                    <h:outputText value="#{bundle.ViewSubclasificacionLabel_clasificacion}"/>
                    <h:outputText value="#{subclasificacionController.selected.clasificacion}" title="#{bundle.ViewSubclasificacionTitle_clasificacion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{subclasificacionController.destroyAndView}" value="#{bundle.ViewSubclasificacionDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewSubclasificacionEditLink}"/>
                <br />
                <h:commandLink action="#{subclasificacionController.prepareCreate}" value="#{bundle.ViewSubclasificacionCreateLink}" />
                <br />
                <h:commandLink action="#{subclasificacionController.prepareList}" value="#{bundle.ViewSubclasificacionShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.ViewSubclasificacionIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
