<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditRechazoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditRechazoLabel_idRechazo}" for="idRechazo" />
                    <h:inputText id="idRechazo" value="#{rechazoController.selected.idRechazo}" title="#{bundle.EditRechazoTitle_idRechazo}" required="true" requiredMessage="#{bundle.EditRechazoRequiredMessage_idRechazo}"/>
                    <h:outputLabel value="#{bundle.EditRechazoLabel_factura}" for="factura" />
                    <h:inputText id="factura" value="#{rechazoController.selected.factura}" title="#{bundle.EditRechazoTitle_factura}" />
                    <h:outputLabel value="#{bundle.EditRechazoLabel_cliente}" for="cliente" />
                    <h:inputText id="cliente" value="#{rechazoController.selected.cliente}" title="#{bundle.EditRechazoTitle_cliente}" />
                    <h:outputLabel value="#{bundle.EditRechazoLabel_vendedor}" for="vendedor" />
                    <h:inputText id="vendedor" value="#{rechazoController.selected.vendedor}" title="#{bundle.EditRechazoTitle_vendedor}" />
                    <h:outputLabel value="#{bundle.EditRechazoLabel_fechaEmision}" for="fechaEmision" />
                    <h:inputText id="fechaEmision" value="#{rechazoController.selected.fechaEmision}" title="#{bundle.EditRechazoTitle_fechaEmision}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditRechazoLabel_fechaVencimiento}" for="fechaVencimiento" />
                    <h:inputText id="fechaVencimiento" value="#{rechazoController.selected.fechaVencimiento}" title="#{bundle.EditRechazoTitle_fechaVencimiento}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditRechazoLabel_monto}" for="monto" />
                    <h:inputText id="monto" value="#{rechazoController.selected.monto}" title="#{bundle.EditRechazoTitle_monto}" />
                    <h:outputLabel value="#{bundle.EditRechazoLabel_observaciones}" for="observaciones" />
                    <h:inputTextarea rows="4" cols="30" id="observaciones" value="#{rechazoController.selected.observaciones}" title="#{bundle.EditRechazoTitle_observaciones}" />
                    <h:outputLabel value="#{bundle.EditRechazoLabel_numFila}" for="numFila" />
                    <h:inputText id="numFila" value="#{rechazoController.selected.numFila}" title="#{bundle.EditRechazoTitle_numFila}" required="true" requiredMessage="#{bundle.EditRechazoRequiredMessage_numFila}"/>
                    <h:outputLabel value="#{bundle.EditRechazoLabel_carga}" for="carga" />
                    <h:selectOneMenu id="carga" value="#{rechazoController.selected.carga}" title="#{bundle.EditRechazoTitle_carga}" required="true" requiredMessage="#{bundle.EditRechazoRequiredMessage_carga}">
                        <f:selectItems value="#{cargaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{rechazoController.update}" value="#{bundle.EditRechazoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditRechazoViewLink}"/>
                <br />
                <h:commandLink action="#{rechazoController.prepareList}" value="#{bundle.EditRechazoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.EditRechazoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
