<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewRechazoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewRechazoLabel_idRechazo}"/>
                    <h:outputText value="#{rechazoController.selected.idRechazo}" title="#{bundle.ViewRechazoTitle_idRechazo}"/>
                    <h:outputText value="#{bundle.ViewRechazoLabel_factura}"/>
                    <h:outputText value="#{rechazoController.selected.factura}" title="#{bundle.ViewRechazoTitle_factura}"/>
                    <h:outputText value="#{bundle.ViewRechazoLabel_cliente}"/>
                    <h:outputText value="#{rechazoController.selected.cliente}" title="#{bundle.ViewRechazoTitle_cliente}"/>
                    <h:outputText value="#{bundle.ViewRechazoLabel_vendedor}"/>
                    <h:outputText value="#{rechazoController.selected.vendedor}" title="#{bundle.ViewRechazoTitle_vendedor}"/>
                    <h:outputText value="#{bundle.ViewRechazoLabel_fechaEmision}"/>
                    <h:outputText value="#{rechazoController.selected.fechaEmision}" title="#{bundle.ViewRechazoTitle_fechaEmision}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewRechazoLabel_fechaVencimiento}"/>
                    <h:outputText value="#{rechazoController.selected.fechaVencimiento}" title="#{bundle.ViewRechazoTitle_fechaVencimiento}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewRechazoLabel_monto}"/>
                    <h:outputText value="#{rechazoController.selected.monto}" title="#{bundle.ViewRechazoTitle_monto}"/>
                    <h:outputText value="#{bundle.ViewRechazoLabel_observaciones}"/>
                    <h:outputText value="#{rechazoController.selected.observaciones}" title="#{bundle.ViewRechazoTitle_observaciones}"/>
                    <h:outputText value="#{bundle.ViewRechazoLabel_numFila}"/>
                    <h:outputText value="#{rechazoController.selected.numFila}" title="#{bundle.ViewRechazoTitle_numFila}"/>
                    <h:outputText value="#{bundle.ViewRechazoLabel_carga}"/>
                    <h:outputText value="#{rechazoController.selected.carga}" title="#{bundle.ViewRechazoTitle_carga}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{rechazoController.destroyAndView}" value="#{bundle.ViewRechazoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewRechazoEditLink}"/>
                <br />
                <h:commandLink action="#{rechazoController.prepareCreate}" value="#{bundle.ViewRechazoCreateLink}" />
                <br />
                <h:commandLink action="#{rechazoController.prepareList}" value="#{bundle.ViewRechazoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.ViewRechazoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
