<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateFacturaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <p:messages />
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateFacturaLabel_idFactura}" for="idFactura" />
                    <p:inputText id="idFactura" value="#{facturaController.selected.idFactura}" title="#{bundle.CreateFacturaTitle_idFactura}" required="true" requiredMessage="#{bundle.CreateFacturaRequiredMessage_idFactura}"/>
                    <h:outputLabel value="#{bundle.CreateFacturaLabel_fechaEmision}" for="fechaEmision" />
                    <p:calendar id="fechaEmision" value="#{facturaController.selected.fechaEmision}" title="#{bundle.CreateFacturaTitle_fechaEmision}" required="true" requiredMessage="#{bundle.CreateFacturaRequiredMessage_fechaEmision}">
                        <!--<f:convertDateTime pattern="MM/dd/yyyy" />-->
                    </p:calendar>
                    <h:outputLabel value="#{bundle.CreateFacturaLabel_fechaVencimiento}" for="fechaVencimiento" />
                    <p:calendar id="fechaVencimiento" value="#{facturaController.selected.fechaVencimiento}" title="#{bundle.CreateFacturaTitle_fechaVencimiento}" required="true" requiredMessage="#{bundle.CreateFacturaRequiredMessage_fechaVencimiento}">
                        <!--<f:convertDateTime pattern="MM/dd/yyyy" />-->
                    </p:calendar>
                    <h:outputLabel value="#{bundle.CreateFacturaLabel_monto}" for="monto" />
                    <p:inputText id="monto" value="#{facturaController.selected.monto}" title="#{bundle.CreateFacturaTitle_monto}" required="true" requiredMessage="#{bundle.CreateFacturaRequiredMessage_monto}"/>
                    <h:outputLabel value="#{bundle.CreateFacturaLabel_vendedor}" for="vendedor" />
                    <p:selectOneMenu id="vendedor" value="#{facturaController.selected.vendedor}" label="#{bundle.CreateFacturaTitle_vendedor}" >
                        <f:selectItems value="#{vendedorController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateFacturaLabel_cliente}" for="cliente" />
                    <p:selectOneMenu id="cliente" value="#{facturaController.selected.cliente}" label="#{bundle.CreateFacturaTitle_cliente}" required="true" requiredMessage="#{bundle.CreateFacturaRequiredMessage_cliente}">
                        <f:selectItems value="#{clienteController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{facturaController.agregarFactura()}" value="#{bundle.CreateFacturaSaveLink}" >
                    <f:setPropertyActionListener target="#{facturaController.usuario}" value="#{sesionMB.usuario}"/>
                </h:commandLink>
                <br />
                <br />
                <h:commandLink action="#{facturaController.prepareList}" value="#{bundle.CreateFacturaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.CreateFacturaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
