<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <h:outputStylesheet library="css" name="estilo.css"/>
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewFacturaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewFacturaLabel_idFactura}"/>
                    <h:outputText value="#{facturaController.selected.idFactura}" title="#{bundle.ViewFacturaTitle_idFactura}"/>
                    <h:outputText value="#{bundle.ViewFacturaLabel_fechaEmision}"/>
                    <h:outputText value="#{facturaController.selected.fechaEmision}" title="#{bundle.ViewFacturaTitle_fechaEmision}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewFacturaLabel_fechaVencimiento}"/>
                    <h:outputText value="#{facturaController.selected.fechaVencimiento}" title="#{bundle.ViewFacturaTitle_fechaVencimiento}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewFacturaLabel_monto}"/>
                    <h:outputText value="#{facturaController.selected.monto}" title="#{bundle.ViewFacturaTitle_monto}"/>
                    <h:outputText value="#{bundle.ViewFacturaLabel_vendedor}"/>
                    <h:outputText value="#{facturaController.selected.vendedor}" title="#{bundle.ViewFacturaTitle_vendedor}"/>
                    <h:outputText value="#{bundle.ViewFacturaLabel_cliente}"/>
                    <h:outputText value="#{facturaController.selected.cliente}" title="#{bundle.ViewFacturaTitle_cliente}"/>
                    <h:outputText value="#{bundle.ViewFacturaLabel_carga}"/>
                    <h:outputText value="#{facturaController.selected.carga}" title="#{bundle.ViewFacturaTitle_carga}"/>
                    
                </h:panelGrid>
                <p:dataTable styleClass="tabla" id="pagos" var="pago" value="#{facturaController.selected.pagoList}" emptyMessage="No hay pagos">
                    <f:facet name="header">
                        <h:outputText value="Detalle de pagos"/>
                    </f:facet>
                    <p:column headerText="Pago nº">
                        <h:outputText value="#{pago.idPago}"/>
                    </p:column>
                    <p:column headerText="Fecha">
                        <h:outputText value="#{pago.fechaEmision}">
                            <f:convertDateTime pattern="EEEEE dd 'de' MMMM',' yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Monto">
                        <h:outputText value="C$ #{pago.monto}"/>
                    </p:column>
                    <p:column>
                        <p:commandLink disabled="#{!sesionMB.isAdmin()}" value="Eliminar" action="#{facturaController.eliminarPago()}" update="pagos" >
                            <f:setPropertyActionListener value="#{pago}" target="#{facturaController.pago}"/>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
                <br />
                <h:commandLink disabled="#{!sesionMB.isAdmin()}" action="#{facturaController.destroyAndView}" value="#{bundle.ViewFacturaDestroyLink}"/>
   
                <br />
                <br />
<!--                <p:commandLink action="/cliente/DetalleCliente?faces-redirect=true" value="Regresar a detalle cliente"/>-->
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.ViewFacturaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
