<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditClasificacionClienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditClasificacionClienteLabel_clasificacionClientePK_idCliente}" for="clasificacionClientePK_idCliente" />
                    <h:inputText id="clasificacionClientePK_idCliente" value="#{clasificacionClienteController.selected.clasificacionClientePK.idCliente}" title="#{bundle.EditClasificacionClienteTitle_clasificacionClientePK_idCliente}" required="true" requiredMessage="#{bundle.EditClasificacionClienteRequiredMessage_clasificacionClientePK_idCliente}"/>
                    <h:outputLabel value="#{bundle.EditClasificacionClienteLabel_clasificacionClientePK_clasificacion}" for="clasificacionClientePK_clasificacion" />
                    <h:inputText id="clasificacionClientePK_clasificacion" value="#{clasificacionClienteController.selected.clasificacionClientePK.clasificacion}" title="#{bundle.EditClasificacionClienteTitle_clasificacionClientePK_clasificacion}" required="true" requiredMessage="#{bundle.EditClasificacionClienteRequiredMessage_clasificacionClientePK_clasificacion}"/>
                    <h:outputLabel value="#{bundle.EditClasificacionClienteLabel_subClasificacion}" for="subClasificacion" />
                    <h:selectOneMenu id="subClasificacion" value="#{clasificacionClienteController.selected.subClasificacion}" title="#{bundle.EditClasificacionClienteTitle_subClasificacion}" required="true" requiredMessage="#{bundle.EditClasificacionClienteRequiredMessage_subClasificacion}">
                        <f:selectItems value="#{subclasificacionController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditClasificacionClienteLabel_cliente}" for="cliente" />
                    <h:selectOneMenu id="cliente" value="#{clasificacionClienteController.selected.cliente}" title="#{bundle.EditClasificacionClienteTitle_cliente}" required="true" requiredMessage="#{bundle.EditClasificacionClienteRequiredMessage_cliente}">
                        <f:selectItems value="#{clienteController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditClasificacionClienteLabel_clasificacion1}" for="clasificacion1" />
                    <h:selectOneMenu id="clasificacion1" value="#{clasificacionClienteController.selected.clasificacion1}" title="#{bundle.EditClasificacionClienteTitle_clasificacion1}" required="true" requiredMessage="#{bundle.EditClasificacionClienteRequiredMessage_clasificacion1}">
                        <f:selectItems value="#{clasificacionController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{clasificacionClienteController.update}" value="#{bundle.EditClasificacionClienteSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditClasificacionClienteViewLink}"/>
                <br />
                <h:commandLink action="#{clasificacionClienteController.prepareList}" value="#{bundle.EditClasificacionClienteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.EditClasificacionClienteIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
