<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditTareaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditTareaLabel_idTarea}" for="idTarea" />
                    <p:inputText id="idTarea" value="#{tareaController.selected.idTarea}" title="#{bundle.EditTareaTitle_idTarea}" required="true" requiredMessage="#{bundle.EditTareaRequiredMessage_idTarea}"/>
                    <h:outputLabel value="#{bundle.EditTareaLabel_idUsuario}" for="idUsuario" />
                    <p:inputText id="idUsuario" value="#{tareaController.selected.idUsuario}" title="#{bundle.EditTareaTitle_idUsuario}" required="true" requiredMessage="#{bundle.EditTareaRequiredMessage_idUsuario}"/>
                </h:panelGrid>
                <h:commandLink action="#{tareaController.update}" value="#{bundle.EditTareaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditTareaViewLink}"/>
                <br />
                <h:commandLink action="#{tareaController.prepareList}" value="#{bundle.EditTareaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.EditTareaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
