<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTareaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTareaLabel_idTarea}"/>
                    <h:outputText value="#{tareaController.selected.idTarea}" title="#{bundle.ViewTareaTitle_idTarea}"/>
                    <h:outputText value="#{bundle.ViewTareaLabel_idUsuario}"/>
                    <h:outputText value="#{tareaController.selected.idUsuario}" title="#{bundle.ViewTareaTitle_idUsuario}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tareaController.destroyAndView}" value="#{bundle.ViewTareaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTareaEditLink}"/>
                <br />
                <h:commandLink action="#{tareaController.prepareCreate}" value="#{bundle.ViewTareaCreateLink}" />
                <br />
                <h:commandLink action="#{tareaController.prepareList}" value="#{bundle.ViewTareaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.ViewTareaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
