/* 
    Document   : estilo
    Created on : 08-abr-2014, 10:36:09
    Author     : Carlos Delgadillo
    Description:
        Hoja de estilo para tablas y componentes personalizados del sistema
*/

root { 
    display: block;
    font-size: 12px!important;
}

.boton{
    font-size: 8px!important;
    alignment-adjust: middle!important;
    background-position: center!important;
}
.tabla{
    font-size: 12px;
    white-space: pre-line;
    text-align: justify;
}

.panelMenu{
    font-size: 13px;
}
.jqplot-title{

    font-size: 13px;
}
.jqplot-target {
    position: relative;
/*    color: #fff;*/
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    font-size: 18px;
}
 
.jqplot-axis {
    font-size: 0.75em;
}
 
.jqplot-xaxis {
    margin-top: 10px;
}
 
.jqplot-yaxis {
    margin-right: 10px;
}
 
table.jqplot-cursor-tooltip {
    border: 1px solid #cccccc;
    font-size: 0.75em;
}
 
.jqplot-cursor-tooltip {
    border: 1px solid #cccccc;
    font-size: 0.75em;
    white-space: nowrap;
    background: rgba(0, 0, 0, 1);
    padding: 1px;
}

.calendario{
     width: 100%!important; 
     font-size: 10px!important;
     
}

.barchart{
    min-width: 1px!important;
    max-width: 100%!important;
    width: auto!important;
    font-size: 8px!important;
}

.barChartInd{
    width: auto!important;
    font-size: 12px!important;
    height: 90%!important;
}

.layout{
    alignment-adjust: middle!important;
    height: 550px!important;
    min-height: 400px!important;
    max-height: 1024px!important;
}

.layoutIndicador{
    alignment-adjust: middle!important;
    height: 97%!important;
    /*font-size: 10px!important;*/
/*    min-height: 300px!important;
    max-height: 1024px!important;*/
    width: 32.2%!important;
}
.eventoGestionPendiente{
    background-color: darkorange!important;
    border-color: darkorange!important;
}

.eventoGestionRealizada{
    background-color: limegreen!important;
    border-color: limegreen!important;
}

.eventoFacturaVencida{
    background-color: maroon!important;
    border-color: maroon!important;
}

.columnaAcciones{
    width: 38%;
}

.botonAccion{
    font-size: 11px!important;
}