<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateNotaPendienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateNotaPendienteLabel_fecha}" for="fecha" />
                    <p:calendar id="fecha" value="#{notaPendienteController.selected.fecha}"  required="true" requiredMessage="#{bundle.CreateNotaPendienteRequiredMessage_fecha}"/>
                    <h:outputLabel value="#{bundle.CreateNotaPendienteLabel_observaciones}" for="observaciones" />
                    <p:inputTextarea rows="4" cols="30" id="observaciones" value="#{notaPendienteController.selected.observaciones}" title="#{bundle.CreateNotaPendienteTitle_observaciones}" />
                    <h:outputLabel value="#{bundle.CreateNotaPendienteLabel_tipoNota}" for="tipoNota" />
                    <p:selectOneMenu id="tipoNota" value="#{notaPendienteController.selected.tipoNota}" required="true" requiredMessage="#{bundle.CreateNotaRequiredMessage_tipoNota}">
                        <f:selectItem itemLabel="---"/>
                        <f:selectItem itemValue="debito" itemLabel="Débito"/>
                        <f:selectItem itemValue="credito" itemLabel="Crédito"/>
                    </p:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateNotaPendienteLabel_monto}" for="monto" />
                    <p:inputText id="monto" value="#{notaPendienteController.selected.monto}" title="#{bundle.CreateNotaPendienteTitle_monto}" required="true" requiredMessage="#{bundle.CreateNotaPendienteRequiredMessage_monto}"/>
                    <h:outputLabel value="#{bundle.CreateNotaPendienteLabel_cliente}" for="cliente" />
                    <p:selectOneMenu id="cliente" value="#{notaPendienteController.selected.cliente}" required="true" requiredMessage="#{bundle.CreateNotaPendienteRequiredMessage_cliente}">
                        <f:selectItems value="#{clienteController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{notaPendienteController.create}" value="#{bundle.CreateNotaPendienteSaveLink}" >
                    <f:setPropertyActionListener value="#{cargaController.crearCargaDefault(sesionMB.usuario)}"
                                                 target="#{notaPendienteController.selected.carga}"/>
                </h:commandLink>
                <br />
                <br />
                <h:commandLink action="#{notaPendienteController.prepareList}" value="#{bundle.CreateNotaPendienteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.CreateNotaPendienteIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
