<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditNotaPendienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditNotaPendienteLabel_idNotaPendiente}" for="idNotaPendiente" />
                    <p:inputText disabled="true" id="idNotaPendiente" value="#{notaPendienteController.selected.idNotaPendiente}" title="#{bundle.EditNotaPendienteTitle_idNotaPendiente}" required="true" requiredMessage="#{bundle.EditNotaPendienteRequiredMessage_idNotaPendiente}"/>
                    <h:outputLabel value="#{bundle.EditNotaPendienteLabel_fecha}" for="fecha" />
                    <p:calendar id="fecha" value="#{notaPendienteController.selected.fecha}" title="#{bundle.EditNotaPendienteTitle_fecha}" required="true" requiredMessage="#{bundle.EditNotaPendienteRequiredMessage_fecha}">
<!--                        <f:convertDateTime pattern="MM/dd/yyyy" />-->
                    </p:calendar>
                    <h:outputLabel value="#{bundle.EditNotaPendienteLabel_observaciones}" for="observaciones" />
                    <p:inputTextarea rows="4" cols="30" id="observaciones" value="#{notaPendienteController.selected.observaciones}" title="#{bundle.EditNotaPendienteTitle_observaciones}" />
                    <h:outputLabel value="#{bundle.EditNotaPendienteLabel_tipoNota}" for="tipoNota" />
                    <p:selectOneMenu value="#{notaPendienteController.selected.tipoNota}" required="true" requiredMessage="#{bundle.CreateNotaRequiredMessage_tipoNota}">
                        <f:selectItem itemLabel="---"/>
                        <f:selectItem itemValue="debito" itemLabel="Débito"/>
                        <f:selectItem itemValue="credito" itemLabel="Crédito"/>
                    </p:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditNotaPendienteLabel_monto}" for="monto" />
                    <p:inputText id="monto" value="#{notaPendienteController.selected.monto}" title="#{bundle.EditNotaPendienteTitle_monto}" required="true" requiredMessage="#{bundle.EditNotaPendienteRequiredMessage_monto}"/>
                    <h:outputLabel value="#{bundle.EditNotaPendienteLabel_cliente}" for="cliente" />
                    <p:selectOneMenu disabled="false" id="cliente" value="#{notaPendienteController.selected.cliente}" required="true" requiredMessage="#{bundle.EditNotaPendienteRequiredMessage_cliente}">
                        <f:selectItems value="#{clienteController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu>
                    
                </h:panelGrid>
                <h:commandLink action="#{notaPendienteController.update}" value="#{bundle.EditNotaPendienteSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditNotaPendienteViewLink}"/>
                <br />
                <h:commandLink action="#{notaPendienteController.prepareList}" value="#{bundle.EditNotaPendienteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.EditNotaPendienteIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
