<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListNotaPendienteTitle}"></h:outputText>
            <f:view>
                <f:event listener="#{notaPendienteController.prepareList()}" type="preRenderView" />
            </f:view>
        </ui:define>
        <ui:define name="body">
            <h:form >
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListNotaPendienteEmpty}" rendered="#{notaPendienteController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{notaPendienteController.items.rowCount > 0}">
                    <h:outputText value="#{notaPendienteController.pagination.pageFirstItem + 1}..#{notaPendienteController.pagination.pageLastItem + 1}/#{notaPendienteController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{notaPendienteController.previous}" value="#{bundle.Previous} #{notaPendienteController.pagination.pageSize}" rendered="#{notaPendienteController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{notaPendienteController.next}" value="#{bundle.Next} #{notaPendienteController.pagination.pageSize}" rendered="#{notaPendienteController.pagination.hasNextPage}"/>&nbsp;
                    <p:dataTable id="tabla" styleClass="tabla" value="#{notaPendienteController.items}" var="item" >
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotaPendienteTitle_idNotaPendiente}"/>
                            </f:facet>
                            <h:outputText value="#{item.idNotaPendiente}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotaPendienteTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotaPendienteTitle_observaciones}"/>
                            </f:facet>
                            <h:outputText value="#{item.observaciones}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotaPendienteTitle_tipoNota}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipoNota}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotaPendienteTitle_monto}"/>
                            </f:facet>
                            <h:outputText value="#{item.monto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotaPendienteTitle_cliente}"/>
                            </f:facet>
                            <h:outputText value="#{item.cliente.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotaPendienteTitle_carga}"/>
                            </f:facet>
                            <h:outputText value="#{item.carga}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Acciones"/>
                            </f:facet>
                            <p:commandButton ajax="false" action="#{notaPendienteController.prepareView}" value="#{bundle.ListNotaPendienteViewLink}"/>
                            <h:outputText value=" "/>
                            <p:commandButton ajax="false" action="#{notaPendienteController.prepareEdit}" value="#{bundle.ListNotaPendienteEditLink}"/>
                            <h:outputText value=" "/>
                            <p:commandButton ajax="false" update="tabla" action="#{notaPendienteController.destroy}" value="#{bundle.ListNotaPendienteDestroyLink}"/>
                        </p:column>
                    </p:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{notaPendienteController.prepareCreate}" value="#{bundle.ListNotaPendienteCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.ListNotaPendienteIndexLink}"/>
            </h:form>
            <h:form id="form2">
                <p:dialog id="pop1" header="Seleccionar factura" widgetVar="pop1" modal="true">
                    <h:panelGrid columns="2" id="gridDialog">
                        <h:outputLabel value="Seleccione una factura"/>
                        <p:selectOneMenu id="factura" value="#{notaPendienteController.nota.factura}" required="true" requiredMessage="#{bundle.CreateNotaRequiredMessage_factura}">
                            <f:selectItem itemLabel="---"/>
                            <f:selectItems value="#{notaPendienteController.selected.cliente.facturaList}" var="var" itemValue="#{var}" itemLabel="#{var.idFactura}"/>
                        </p:selectOneMenu>
                        <p:commandButton value="Aceptar" action="#{notaPendienteController.asignarFactura()}" oncomplete="PF('pop1').hide();">
                            
                        </p:commandButton>
                        <p:commandButton onclick="pop1.hide();" value="Cancelar"/>
                    </h:panelGrid>
                </p:dialog>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
