<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewNotaPendienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form id="form1">
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewNotaPendienteLabel_idNotaPendiente}"/>
                    <h:outputText value="#{notaPendienteController.selected.idNotaPendiente}" title="#{bundle.ViewNotaPendienteTitle_idNotaPendiente}"/>
                    <h:outputText value="#{bundle.ViewNotaPendienteLabel_fecha}"/>
                    <h:outputText value="#{notaPendienteController.selected.fecha}" title="#{bundle.ViewNotaPendienteTitle_fecha}">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewNotaPendienteLabel_observaciones}"/>
                    <h:outputText value="#{notaPendienteController.selected.observaciones}" title="#{bundle.ViewNotaPendienteTitle_observaciones}"/>
                    <h:outputText value="#{bundle.ViewNotaPendienteLabel_tipoNota}"/>
                    <h:outputText value="#{notaPendienteController.selected.tipoNota}" title="#{bundle.ViewNotaPendienteTitle_tipoNota}"/>
                    <h:outputText value="#{bundle.ViewNotaPendienteLabel_monto}"/>
                    <h:outputText value="#{notaPendienteController.selected.monto}" title="#{bundle.ViewNotaPendienteTitle_monto}"/>
                    <h:outputText value="#{bundle.ViewNotaPendienteLabel_cliente}"/>
                    <h:outputText value="#{notaPendienteController.selected.cliente}" title="#{bundle.ViewNotaPendienteTitle_cliente}"/>
                    <h:outputText value="#{bundle.ViewNotaPendienteLabel_carga}"/>
                    <h:outputText value="#{notaPendienteController.selected.carga}" title="#{bundle.ViewNotaPendienteTitle_carga}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{notaPendienteController.destroyAndView}" value="#{bundle.ViewNotaPendienteDestroyLink}"/>
                <br />
                <br />
                <h:outputText value=" "/>
                <p:commandButton onclick="pop1.show();return false;" value="Ligar a factura" >
                    <f:setPropertyActionListener target="#{notaPendienteController.cliente}" value="#{notaPendienteController.selected.cliente}"/>
                </p:commandButton>
                <br />
                <h:outputText value=" "/>
                <p:commandButton onclick="pop2.show();return false;" value="Convertir en factura" disabled="#{notaPendienteController.selected.tipoNota=='credito'}">
                    <f:setPropertyActionListener target="#{notaPendienteController.factura.cliente}" value="#{notaPendienteController.selected.cliente}"/>
                </p:commandButton>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewNotaPendienteEditLink}"/>
                <br />
                <h:commandLink action="#{notaPendienteController.prepareCreate}" value="#{bundle.ViewNotaPendienteCreateLink}" />
                <br />
                <h:commandLink action="#{notaPendienteController.prepareList}" value="#{bundle.ViewNotaPendienteShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.ViewNotaPendienteIndexLink}"/>

            </h:form>
            <h:form id="form2">
                <p:dialog id="pop1" header="Seleccionar factura" widgetVar="pop1" modal="true">
                    <h:panelGrid columns="2" id="gridDialog">
                        <h:outputLabel value="Seleccione una factura"/>
                        <p:selectOneMenu id="factura" value="#{notaPendienteController.nota.factura}" required="true" requiredMessage="#{bundle.CreateNotaRequiredMessage_factura}">
                            <f:selectItem itemLabel="---"/>
                            <f:selectItems value="#{notaPendienteController.selected.cliente.facturaList}" var="var" itemValue="#{var}" itemLabel="#{var.idFactura}"/>
                        </p:selectOneMenu>
                        <p:commandButton value="Aceptar" action="#{notaPendienteController.asignarFactura()}" oncomplete="PF('pop1').hide();">
                            <f:setPropertyActionListener target="#{notaPendienteController.usuario}" value="#{sesionMB.usuario}" />
                        </p:commandButton>
                        <p:commandButton onclick="pop1.hide();" value="Cancelar"/>
                    </h:panelGrid>
                </p:dialog>
            </h:form>
            <h:form id="form3">
                <p:dialog id="pop2" header="¡Atención!" widgetVar="pop2" modal="true">
                    <h:panelGrid columns="2">
                        <h:outputLabel value="¿Está seguro de convertir ésta nota en factura?"/>
                        <h:outputText value=" "/>
                        <p:commandButton value="Aceptar" action="#{notaPendienteController.asignarCliente()}" oncomplete="PF('pop2').hide();" >
                            <f:setPropertyActionListener target="#{notaPendienteController.usuario}" value="#{sesionMB.usuario}" />
                        </p:commandButton>
                        <p:commandButton onclick="pop2.hide();" value="Cancelar" >
                            
                        </p:commandButton>
                    </h:panelGrid>
                </p:dialog>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
