<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditClasificacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditClasificacionLabel_idClasificacion}" for="idClasificacion" />
                    <h:inputText id="idClasificacion" value="#{clasificacionController.selected.idClasificacion}" title="#{bundle.EditClasificacionTitle_idClasificacion}" required="true" requiredMessage="#{bundle.EditClasificacionRequiredMessage_idClasificacion}"/>
                    <h:outputLabel value="#{bundle.EditClasificacionLabel_descripcion}" for="descripcion" />
                    <h:inputText id="descripcion" value="#{clasificacionController.selected.descripcion}" title="#{bundle.EditClasificacionTitle_descripcion}" required="true" requiredMessage="#{bundle.EditClasificacionRequiredMessage_descripcion}"/>
                </h:panelGrid>
                <h:commandLink action="#{clasificacionController.update}" value="#{bundle.EditClasificacionSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditClasificacionViewLink}"/>
                <br />
                <h:commandLink action="#{clasificacionController.prepareList}" value="#{bundle.EditClasificacionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.EditClasificacionIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
