<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewClasificacionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <p:messages  showDetail="true" />
            </h:panelGroup>
            <h:form id="form1" >
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewClasificacionLabel_idClasificacion}"/>
                    <h:outputText value="#{clasificacionController.selected.idClasificacion}" title="#{bundle.ViewClasificacionTitle_idClasificacion}"/>
                    <h:outputText value="#{bundle.ViewClasificacionLabel_descripcion}"/>
                    <h:outputText value="#{clasificacionController.selected.descripcion}" title="#{bundle.ViewClasificacionTitle_descripcion}"/>
                </h:panelGrid>
<!--                <h:panelGroup >-->
                    <p:dataTable tableStyleClass="tabla" id="subCategorias" value="#{clasificacionController.selected.subclasificacionList}" var="item" >
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListSubclasificacionTitle_idSubClasificacion}"/>
                        </f:facet>
                        <h:outputText value="#{item.idSubClasificacion}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListSubclasificacionTitle_descripcion}"/>
                        </f:facet>
                        <h:outputText value="#{item.descripcion}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="&nbsp;"/>
                        </f:facet>
                        <p:commandButton ajax="false" action="subclasificacion/View?faces-redirect=true" value="#{bundle.ListSubclasificacionViewLink}">
                            <f:setPropertyActionListener target="#{subclasificacionController.selected}" value="#{item}"/>
                        </p:commandButton>
                        <h:outputText value=" "/>
                        <p:commandButton ajax="false" action="subclasificacion/Edit?faces-redirect=true" value="#{bundle.ListSubclasificacionEditLink}">
                            <f:setPropertyActionListener target="#{subclasificacionController.selected}" value="#{item}"/>
                        </p:commandButton>
                        <h:outputText value=" "/>
                        <p:commandButton update=":form1:subCategorias" action="#{clasificacionController.eliminarSubclasificacion()}" value="#{bundle.ListSubclasificacionDestroyLink}">
                            <f:setPropertyActionListener target="#{clasificacionController.subclasificacion}" value="#{item}"/>
                        </p:commandButton>
                        
                    </p:column>
                </p:dataTable>
                <!--</h:panelGroup>-->
                <br />
                <h:commandLink action="#{clasificacionController.destroyAndView}" value="#{bundle.ViewClasificacionDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewClasificacionEditLink}"/>
                <br />
                <h:commandLink action="subclasificacion/Create?faces-redirect=true" value="#{bundle.ViewSubclasificacionCreateLink}" >
                    <f:setPropertyActionListener value="#{subclasificacionController.nuevo}" target="#{subclasificacionController.selected}"/>
                    <f:setPropertyActionListener value="#{clasificacionController.selected}" target="#{subclasificacionController.clasificacion}"/>
                </h:commandLink>
                <br />
                <h:commandLink action="#{clasificacionController.prepareList}" value="#{bundle.ViewClasificacionShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.ViewClasificacionIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
