<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateClienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateClienteLabel_idCliente}" for="idCliente" />
                    <p:inputText id="idCliente" value="#{clienteController.selected.idCliente}" title="#{bundle.CreateClienteTitle_idCliente}" required="true" requiredMessage="#{bundle.CreateClienteRequiredMessage_idCliente}"/>
                    <h:outputLabel value="#{bundle.CreateClienteLabel_nombre}" for="nombre" />
                    <p:inputText id="nombre" value="#{clienteController.selected.nombre}" title="#{bundle.CreateClienteTitle_nombre}" required="true" requiredMessage="#{bundle.CreateClienteRequiredMessage_nombre}"/>
                    <h:outputLabel value="#{bundle.CreateClienteLabel_correo}" for="correo" />
                    <p:inputText id="correo" value="#{clienteController.selected.correo}" title="#{bundle.CreateClienteTitle_correo}" />
                </h:panelGrid>
                <p:panelGrid columns="4">
                    <h:outputLabel value="Seleccionar categoría: "/>
                    
                    <p:selectOneMenu value="#{subclasificacionController.clasificacion}">
                        <f:selectItem  itemLabel="-----"/>
                        <f:selectItems value="#{clasificacionController.clasificaciones}" var="cat" itemValue="#{cat}" itemLabel="#{cat.descripcion}"/>
                        <p:ajax update="subCategorias" listener="#{subclasificacionController.actualizarSubclasificaciones()}"/>
                    </p:selectOneMenu>
                    <p:selectOneMenu id="subCategorias" value="#{clienteController.subclasificacion}" >
                        <f:selectItem  itemLabel="-----"/>
                        <f:selectItems value="#{subclasificacionController.subclasificaciones}" var="sub" itemLabel="#{sub.descripcion}"/>
                    </p:selectOneMenu>
                    <p:commandButton value="Agregar" actionListener="#{clienteController.agregarSubclasificacion()}" update="categorias"/>
                </p:panelGrid>
                <p:separator/>
                <p:dataTable id="categorias" value="#{clienteController.selected.subclasificacionList}" var="item"  >
                    <p:column>
                        <h:outputText value="#{item.clasificacion.descripcion}"/>
                    </p:column>
                    <p:column>
                        <h:outputText value="#{item.descripcion}"/>
                    </p:column>
                    <p:column >
                        <p:commandButton  value="Eliminar" update="categorias" action="#{clienteController.eliminarSubclasificacion()}">
                            <f:setPropertyActionListener value="#{item}" target="#{clienteController.subclasificacion}"/>
                        </p:commandButton>
                    </p:column>
                    <p:row>
                        
                    </p:row>
                </p:dataTable>
                <p:commandButton value="Eliminar todas" update="categorias" action="#{clienteController.eliminarSubclasificaciones()}"/>
                <p:separator/>
                <br />
                <h:commandLink action="#{clienteController.create}" value="#{bundle.CreateClienteSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{clienteController.prepareList}" value="#{bundle.CreateClienteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.CreateClienteIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
