<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListClienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <p:growl autoUpdate="true"/>
            <h:form >
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green"   layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListClienteEmpty}" rendered="#{clienteController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{clienteController.items.rowCount > 0}">
                    
                    <p:dataTable styleClass="tabla" rowStyleClass="jsfcrud_odd_row,jsfcrud_even_row" value="#{clienteController.items}" var="item"
                                 paginator="true"
                             rows="10" 
                             
                             paginatorTemplate="{CurrentPageReport}  
                             {FirstPageLink} {PreviousPageLink} 
                             {PageLinks} {NextPageLink} 
                             {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15">
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClienteTitle_idCliente}"/>
                            </f:facet>
                            <h:outputText value="#{item.idCliente}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClienteTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>
                        
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClienteTitle_correo}"/>
                            </f:facet>
                            <h:outputText value="#{item.correo}"/>
                        </p:column>
                        <p:column styleClass="columnaAcciones">
                            <f:facet name="header">
                                <h:outputText value="Acciones"/>
                            </f:facet>
                            <p:commandButton icon="ui-icon-search" styleClass="botonAccion" ajax="false" action="#{clienteController.prepareView()}" value="Detalle">
                            </p:commandButton>
                            <p:commandButton icon="ui-icon-wrench" styleClass="botonAccion" ajax="false" action="#{clienteController.prepareEdit}" value="Editar"/>
                            <p:commandButton icon="ui-icon-close" styleClass="botonAccion" oncomplete="PF('dlg').show();" value="#{bundle.ListClienteDestroyLink}">
                                <f:setPropertyActionListener target="#{clienteController.selected}" value="#{item}"/>
                            </p:commandButton>
                            <p:commandButton icon="ui-icon-clipboard" styleClass="botonAccion" ajax="false" value="Estado de cuenta" action="/Reportes/reportesClientes?faces-redirect=true">
                                <f:setPropertyActionListener value="#{item}" target="#{clienteController.selected}"/>
                            </p:commandButton>
                            <p:commandButton icon="ui-icon-mail-closed" styleClass="botonAccion" update=":emailForm" value="Enviar correo" oncomplete="emailDlg.show();">
                                <f:setPropertyActionListener value="#{item}" target="#{clienteController.selected}"/>
                                <f:setPropertyActionListener value="#{null}" target="#{emailSenderController.email}"/>
                                <f:setPropertyActionListener value="#{item.correo}" target="#{emailSenderController.destinatario}"/>
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{clienteController.prepareCreate}" value="#{bundle.ListClienteCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.ListClienteIndexLink}"/>
            </h:form>
            
            <p:dialog id="dialogoEmail" appendTo="@(Body)" closable="true" header="Envio de Correo" modal="true" widgetVar="emailDlg">
                <h:form id="emailForm">
                    
                    <h2>Envío de Correo al cliente #{clienteController.selected.nombre}</h2>
                    <hr/>
                    
                    <h:panelGrid>
                        <h:outputLabel value="Asunto" for="asunto"/>
                        <p:message for="asunto"/>
                        <p:inputText id="asunto" style="width: 99%" value="#{emailSenderController.email.subject}" required="true" requiredMessage="Escriba el asunto"/>
                        <h:outputLabel value="Mensaje" for="mensaje"/>
                        <p:message for="mensaje"/>
                        <p:editor id="mensaje"   style="width: 100%" value="#{emailSenderController.email.body}" required="true" requiredMessage="Escriba el Mensaje"/>
                        <p:selectBooleanCheckbox itemLabel="Adjuntar estado de cuenta" value="#{clienteController.adjunto}"/>
                        <p:commandButton id="enviar" update="@form"  value="Enviar" oncomplete="if(!args.validationFailed)emailDlg.hide();"   actionListener="#{clienteController.enviarMail()}"/>
                    </h:panelGrid>
                    <p:blockUI widgetVar="enviando" block=":emailForm" trigger="enviar">  
                        <h2>Enviando</h2><br />  
                       <p:graphicImage value="/resources/images/cargando.gif"/>  
                   </p:blockUI> 
                </h:form>
            </p:dialog>
            
            
                <p:dialog appendTo="@(Body)" header="Confirmar" id="confirmaEliminar" widgetVar="dlg" modal="true" >
                    <h:form>
                    <h:outputLabel value="¿Está seguro de eliminar este cliente?"/>
                    <br/>
                    <p:commandButton ajax="false" value="Si" action="#{clienteController.eliminarCliente()}" oncomplete="dlg.update();dlg.hide();"/>
                    <p:commandButton value="No" onclick="PF('dlg').hide();"/>
                    </h:form>
            </p:dialog>
           
        </ui:define>
    </ui:composition>

</html>
