<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateGestionTitle} para la factura #{gestionController.factura.idFactura}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateGestionLabel_descripcion}" for="descripcion" />
                    <p:inputText id="descripcion" value="#{gestionController.selected.descripcion}" title="#{bundle.CreateGestionTitle_descripcion}" />
                    <h:outputLabel value="#{bundle.CreateGestionLabel_observaciones}" for="observaciones" />
                    <p:inputTextarea rows="4" cols="30" id="observaciones" value="#{gestionController.selected.observaciones}" />
                    <h:outputLabel value="#{bundle.CreateGestionLabel_fechaLimiteGestion}" for="fechaLimiteGestion" />
                    <p:calendar  pattern="dd/MM/yyyy" id="fechaLimiteGestion" value="#{gestionController.selected.fechaLimiteGestion}" title="#{bundle.CreateGestionTitle_fechaLimiteGestion}" required="true" requiredMessage="#{bundle.CreateGestionRequiredMessage_fechaLimiteGestion}">
                        
                    </p:calendar>
                    <h:outputLabel value="#{bundle.CreateGestionLabel_usuario}" for="usuario" />
                    <p:selectOneMenu id="usuario" value="#{gestionController.selected.usuario}"  required="true" requiredMessage="#{bundle.CreateGestionRequiredMessage_usuario}">
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu>
                    
                </h:panelGrid>
                <br />
                <h:commandLink action="#{gestionController.crearGestion()}" value="#{bundle.CreateGestionSaveLink}" >
                    <f:actionListener binding="#{miscMB.agregarGestion(gestionController.selected)}"/>
                </h:commandLink>
                <br />
                <br />
                <h:commandLink action="#{gestionController.prepareList}" value="#{bundle.CreateGestionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.CreateGestionIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
