<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditGestionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="Cliente: "/>
                    <h:outputText value="#{gestionController.selected.factura.cliente.nombre}"/>
                    <h:outputText value="Factura: "/>
                    <h:outputText value="#{gestionController.selected.factura}"/>
                    <h:outputLabel value="#{bundle.EditGestionLabel_descripcion}" for="descripcion" />
                    <p:inputText disabled="true" id="descripcion" value="#{gestionController.selected.descripcion}" title="#{bundle.CreateGestionTitle_descripcion}" />
                    <h:outputLabel value="#{bundle.EditGestionLabel_observaciones}" for="observaciones" />
                    <p:inputTextarea rows="4" cols="50" id="observaciones" value="#{gestionController.selected.observaciones}" />
                    <h:outputLabel value="#{bundle.EditGestionLabel_fechaLimiteGestion}" for="fechaLimiteGestion" />
                    <p:calendar disabled="true"  pattern="dd/MM/yyyy" id="fechaLimiteGestion" value="#{gestionController.selected.fechaLimiteGestion}" title="#{bundle.CreateGestionTitle_fechaLimiteGestion}" required="true" requiredMessage="#{bundle.CreateGestionRequiredMessage_fechaLimiteGestion}">
                        
                    </p:calendar>
                    <h:outputLabel value="#{bundle.EditGestionLabel_usuario}" for="usuario" />
                    <p:selectOneMenu disabled="true" id="usuario" value="#{gestionController.selected.usuario}" >
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditGestionLabel_estado}" for="estado" />
                    <p:selectOneMenu  id="estado" value="#{gestionController.selected.estado}"  required="true" requiredMessage="#{bundle.CreateGestionRequiredMessage_usuario}">
                        <f:selectItem itemLabel="Pendiente" itemValue="pendiente"/>
                        <f:selectItem itemLabel="Finalizada" itemValue="realizada"/>
                    </p:selectOneMenu>
                    
                </h:panelGrid>
                <h:commandLink action="#{gestionController.update}" value="#{bundle.EditGestionSaveLink}">
                    <f:actionListener binding="#{miscMB.editarGestion(gestionController.selected)}"/>
                </h:commandLink>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditGestionViewLink}"/>
                <br />
                <h:commandLink action="#{gestionController.prepareList}" value="#{bundle.EditGestionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.EditGestionIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
