<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListGestionTitle}"></h:outputText>
            <f:view>
                <f:event listener="#{gestionController.prepareList()}" type="preRenderView" />
            </f:view>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListGestionEmpty}" rendered="#{gestionController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{gestionController.items.rowCount > 0}">
                    
                    <h:commandLink action="#{gestionController.previous}" value="#{bundle.Previous} #{gestionController.pagination.pageSize}" rendered="#{gestionController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{gestionController.next}" value="#{bundle.Next} #{gestionController.pagination.pageSize}" rendered="#{gestionController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{gestionController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        
                        <h:column >
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGestionTitle_idGestion}"/>
                            </f:facet>
                            <h:outputText rendered="#{sesionMB.isAdmin() || sesionMB.usuario eq item.usuario}" value="#{item.idGestion}"/>
                        </h:column>
<!--                        <h:column>
                            
                        </h:column>-->
                        <h:column >
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGestionTitle_observaciones}"/>
                            </f:facet>
                            <h:outputText rendered="#{sesionMB.isAdmin() || sesionMB.usuario eq item.usuario}" value="#{item.observaciones}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGestionTitle_fechaLimiteGestion}"/>
                            </f:facet>
                            <h:outputText rendered="#{sesionMB.isAdmin() || sesionMB.usuario eq item.usuario}" value="#{item.fechaLimiteGestion}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGestionTitle_usuario}"/>
                            </f:facet>
                            <h:outputText rendered="#{sesionMB.isAdmin() || sesionMB.usuario eq item.usuario}" value="#{item.usuario.nombre}"/>
                        </h:column>
                        
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGestionTitle_factura}"/>
                            </f:facet>
                            <h:outputText rendered="#{sesionMB.isAdmin() || sesionMB.usuario eq item.usuario}" value="#{item.factura}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGestionTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText rendered="#{sesionMB.isAdmin() || sesionMB.usuario eq item.usuario}" value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGestionTitle_estado}"/>
                            </f:facet>
                            <h:outputText rendered="#{sesionMB.isAdmin() || sesionMB.usuario eq item.usuario}" value="#{item.estado}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGestionTitle_fechaGestion}"/>
                            </f:facet>
                            <h:outputText rendered="#{sesionMB.isAdmin() || sesionMB.usuario eq item.usuario}" value="#{item.fechaGestion}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <p:commandButton ajax="false" rendered="#{sesionMB.isAdmin() || sesionMB.usuario eq item.usuario}" styleClass="botonAccion" action="#{gestionController.prepareView}" value="#{bundle.ListGestionViewLink}"/>
                            <h:outputText value=" "/>
                            <p:commandButton ajax="false" rendered="#{sesionMB.isAdmin() || sesionMB.usuario eq item.usuario}" disabled="#{!sesionMB.usuario.equals(item.usuario)}" styleClass="botonAccion" action="#{gestionController.prepareEdit}" value="#{bundle.ListGestionEditLink}"/>
                            <h:outputText value=" "/>
                            <p:commandButton ajax="false" rendered="#{sesionMB.isAdmin() || sesionMB.usuario eq item.usuario}" disabled="#{!sesionMB.isAdmin()}" styleClass="botonAccion" action="#{gestionController.destroy}" value="#{bundle.ListGestionDestroyLink}"/>
                        </h:column>
                        
                    </h:dataTable>
                </h:panelGroup>
                <br />
                
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.ListGestionIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
