<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewGestionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewGestionLabel_idGestion}"/>
                    <h:outputText value="#{gestionController.selected.idGestion}" title="#{bundle.ViewGestionTitle_idGestion}"/>
                    <h:outputText value="#{bundle.ViewGestionLabel_observaciones}"/>
                    <h:outputText value="#{gestionController.selected.observaciones}" title="#{bundle.ViewGestionTitle_observaciones}"/>
                    <h:outputText value="#{bundle.ViewGestionLabel_fechaLimiteGestion}"/>
                    <h:outputText value="#{gestionController.selected.fechaLimiteGestion}" title="#{bundle.ViewGestionTitle_fechaLimiteGestion}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewGestionLabel_usuario}"/>
                    <h:outputText value="#{gestionController.selected.usuario}" title="#{bundle.ViewGestionTitle_usuario}"/>
                    <h:outputText value="#{bundle.ViewGestionLabel_factura}"/>
                    <h:outputText value="#{gestionController.selected.factura}" title="#{bundle.ViewGestionTitle_factura}"/>
                    <h:outputText value="#{bundle.ViewGestionLabel_descripcion}"/>
                    <h:outputText value="#{gestionController.selected.descripcion}" title="#{bundle.ViewGestionTitle_descripcion}"/>
                    <h:outputText value="#{bundle.ViewGestionLabel_estado}"/>
                    <h:outputText value="#{gestionController.selected.estado}" title="#{bundle.ViewGestionTitle_estado}"/>
                    <h:outputText value="#{bundle.ViewGestionLabel_fechaGestion}"/>
                    <h:outputText value="#{gestionController.selected.fechaGestion}" title="#{bundle.ViewGestionTitle_fechaGestion}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink disabled="#{!sesionMB.isAdmin()}" action="#{gestionController.destroyAndView}" value="#{bundle.ViewGestionDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" disabled="#{sesionMB.usuario.equals(gestionController.selected.usuario)}" value="#{bundle.ViewGestionEditLink}"/>
                <br />
                
                <h:link outcome="/inicio" value="#{bundle.ViewGestionIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
