<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEmpresaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEmpresaLabel_idEmpresa}"/>
                    <h:outputText value="#{empresaController.selected.idEmpresa}" title="#{bundle.ViewEmpresaTitle_idEmpresa}"/>
                    <h:outputText value="#{bundle.ViewEmpresaLabel_nombre}"/>
                    <h:outputText value="#{empresaController.selected.nombre}" title="#{bundle.ViewEmpresaTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewEmpresaLabel_fechaInicioContrato}"/>
                    <h:outputText value="#{empresaController.selected.fechaInicioContrato}" title="#{bundle.ViewEmpresaTitle_fechaInicioContrato}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{empresaController.destroyAndView}" value="#{bundle.ViewEmpresaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEmpresaEditLink}"/>
                <br />
                <h:commandLink action="#{empresaController.prepareCreate}" value="#{bundle.ViewEmpresaCreateLink}" />
                <br />
                <h:commandLink action="#{empresaController.prepareList}" value="#{bundle.ViewEmpresaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.ViewEmpresaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
