<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateNotaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                   
                    <h:outputLabel value="#{bundle.CreateNotaLabel_fecha}" for="fecha" />
                    <p:calendar value="#{notaController.selected.fecha}" id="fecha"/>
                    <h:outputLabel value="#{bundle.CreateNotaLabel_observaciones}" for="observaciones" />
                    <p:inputTextarea rows="4" cols="30" id="observaciones" value="#{notaController.selected.observaciones}" title="#{bundle.CreateNotaTitle_observaciones}" />
                    <h:outputLabel value="#{bundle.CreateNotaLabel_tipoNota}" for="tipoNota" />
                    <p:selectOneMenu id="tipoNota" value="#{notaController.selected.tipoNota}" required="true" requiredMessage="#{bundle.CreateNotaRequiredMessage_tipoNota}">
                        <f:selectItem itemLabel="---"/>
                        <f:selectItem itemValue="debito" itemLabel="Débito"/>
                        <f:selectItem itemValue="credito" itemLabel="Crédito"/>
                    </p:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateNotaLabel_monto}" for="monto" />
                    <p:inputText id="monto" value="#{notaController.selected.monto}" title="#{bundle.CreateNotaTitle_monto}" required="true" requiredMessage="#{bundle.CreateNotaRequiredMessage_monto}"/>
                    <h:outputLabel value="#{bundle.CreateNotaLabel_factura}" for="factura" />
                    <p:selectOneMenu id="factura" converter="#{facturaController.convertidor}" value="#{notaController.selected.factura}" filter="true" filterMatchMode="startsWith" required="true" requiredMessage="#{bundle.CreateNotaRequiredMessage_factura}">
                        <f:selectItem itemLabel="---"/>
                        <f:selectItems value="#{facturaController.facturas}" var="factura" itemValue="#{factura}" itemLabel="#{factura.idFactura}" />
                    </p:selectOneMenu>
                    
                </h:panelGrid>
                <br />
                <h:commandLink action="#{notaController.create}" value="#{bundle.CreateNotaSaveLink}">
                    <f:setPropertyActionListener value="#{cargaController.crearCargaDefault(sesionMB.usuario)}"
                                                 target="#{notaController.selected.carga}"/>
                </h:commandLink>
                <br />
                <br />
                <h:commandLink action="#{notaController.prepareList}" value="#{bundle.CreateNotaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.CreateNotaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
