<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditNotaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditNotaLabel_idNota}" for="idNota" />
                    <p:inputText disabled="true" id="idNota" value="#{notaController.selected.idNota}" title="#{bundle.EditNotaTitle_idNota}" required="true" requiredMessage="#{bundle.EditNotaRequiredMessage_idNota}"/>
                    <h:outputLabel value="#{bundle.EditNotaLabel_fecha}" for="fecha" />
                    <p:calendar id="fecha" value="#{notaController.selected.fecha}" title="#{bundle.EditNotaTitle_fecha}" required="true" requiredMessage="#{bundle.EditNotaRequiredMessage_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </p:calendar>
                    <h:outputLabel value="#{bundle.EditNotaLabel_observaciones}" for="observaciones" />
                    <p:inputTextarea rows="4" cols="30" id="observaciones" value="#{notaController.selected.observaciones}" title="#{bundle.EditNotaTitle_observaciones}" />
                    <h:outputLabel value="#{bundle.EditNotaLabel_tipoNota}" for="tipoNota" />
                    <p:selectOneMenu value="#{notaController.selected.tipoNota}" required="true" requiredMessage="#{bundle.CreateNotaRequiredMessage_tipoNota}">
                        <f:selectItem itemLabel="---"/>
                        <f:selectItem itemValue="debito" itemLabel="Débito"/>
                        <f:selectItem itemValue="credito" itemLabel="Crédito"/>
                    </p:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditNotaLabel_monto}" for="monto" />
                    <p:inputText id="monto" value="#{notaController.selected.monto}" title="#{bundle.EditNotaTitle_monto}" required="true" requiredMessage="#{bundle.EditNotaRequiredMessage_monto}"/>
                    <h:outputLabel value="#{bundle.EditNotaLabel_factura}" for="factura" />
                    <p:selectOneMenu id="factura" value="#{notaController.selected.factura}" required="true" requiredMessage="#{bundle.EditNotaRequiredMessage_factura}">
                        <f:selectItems value="#{facturaController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditNotaLabel_carga}" for="carga" />
                    <p:selectOneMenu disabled="true" id="carga" value="#{notaController.selected.carga}" required="true" requiredMessage="#{bundle.EditNotaRequiredMessage_carga}">
                        <f:selectItems value="#{cargaController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{notaController.update}" value="#{bundle.EditNotaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditNotaViewLink}"/>
                <br />
                <h:commandLink action="#{notaController.prepareList}" value="#{bundle.EditNotaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.EditNotaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
