<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListNotaTitle}"></h:outputText>
            <f:view>
                <f:event listener="#{notaController.prepareList()}" type="preRenderView" />
            </f:view>
        </ui:define>
        <ui:define name="body">
            <h:form >
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListNotaEmpty}" rendered="#{notaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{notaController.items.rowCount > 0}">
                    <h:outputText value="#{notaController.pagination.pageFirstItem + 1}..#{notaController.pagination.pageLastItem + 1}/#{notaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{notaController.previous}" value="#{bundle.Previous} #{notaController.pagination.pageSize}" rendered="#{notaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{notaController.next}" value="#{bundle.Next} #{notaController.pagination.pageSize}" rendered="#{notaController.pagination.hasNextPage}"/>&nbsp;
                    <p:dataTable id="tabla" styleClass="tabla" value="#{notaController.items}" var="item" >
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotaTitle_idNota}"/>
                            </f:facet>
                            <h:outputText value="#{item.idNota}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotaTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotaTitle_observaciones}"/>
                            </f:facet>
                            <h:outputText value="#{item.observaciones}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotaTitle_tipoNota}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipoNota}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotaTitle_monto}"/>
                            </f:facet>
                            <h:outputText value="#{item.monto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotaTitle_factura}"/>
                            </f:facet>
                            <h:outputText value="#{item.factura}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNotaTitle_carga}"/>
                            </f:facet>
                            <h:outputText value="#{item.carga}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <p:commandButton action="#{notaController.prepareView}" value="#{bundle.ListNotaViewLink}"/>
                            <h:outputText value=" "/>
                            <p:commandButton action="#{notaController.prepareEdit}" value="#{bundle.ListNotaEditLink}"/>
                            <h:outputText value=" "/>
                            <p:commandButton ajax="false" update="tabla" action="#{notaController.destroy}" value="#{bundle.ListNotaDestroyLink}"/>
                        </p:column>
                    </p:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{notaController.prepareCreate}" value="#{bundle.ListNotaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.ListNotaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
