<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewNotaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewNotaLabel_idNota}"/>
                    <h:outputText value="#{notaController.selected.idNota}" title="#{bundle.ViewNotaTitle_idNota}"/>
                    <h:outputText value="#{bundle.ViewNotaLabel_fecha}"/>
                    <h:outputText value="#{notaController.selected.fecha}" title="#{bundle.ViewNotaTitle_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewNotaLabel_observaciones}"/>
                    <h:outputText value="#{notaController.selected.observaciones}" title="#{bundle.ViewNotaTitle_observaciones}"/>
                    <h:outputText value="#{bundle.ViewNotaLabel_tipoNota}"/>
                    <h:outputText value="#{notaController.selected.tipoNota}" title="#{bundle.ViewNotaTitle_tipoNota}"/>
                    <h:outputText value="#{bundle.ViewNotaLabel_monto}"/>
                    <h:outputText value="#{notaController.selected.monto}" title="#{bundle.ViewNotaTitle_monto}"/>
                    <h:outputText value="#{bundle.ViewNotaLabel_factura}"/>
                    <h:outputText value="#{notaController.selected.factura}" title="#{bundle.ViewNotaTitle_factura}"/>
                    <h:outputText value="#{bundle.ViewNotaLabel_carga}"/>
                    <h:outputText value="#{notaController.selected.carga}" title="#{bundle.ViewNotaTitle_carga}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{notaController.destroyAndView}" value="#{bundle.ViewNotaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewNotaEditLink}"/>
                <br />
                <h:commandLink action="#{notaController.prepareCreate}" value="#{bundle.ViewNotaCreateLink}" />
                <br />
                <h:commandLink action="#{notaController.prepareList}" value="#{bundle.ViewNotaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.ViewNotaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
