<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">>

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateVendedorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateVendedorLabel_idVendedor}" for="idVendedor" />
                    <h:inputText id="idVendedor" value="#{vendedorController.selected.idVendedor}" title="#{bundle.CreateVendedorTitle_idVendedor}" required="true" requiredMessage="#{bundle.CreateVendedorRequiredMessage_idVendedor}"/>
                    <h:outputLabel value="#{bundle.CreateVendedorLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{vendedorController.selected.nombre}" title="#{bundle.CreateVendedorTitle_nombre}" required="true" requiredMessage="#{bundle.CreateVendedorRequiredMessage_nombre}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{vendedorController.create}" value="#{bundle.CreateVendedorSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{vendedorController.prepareList}" value="#{bundle.CreateVendedorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.CreateVendedorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
