<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditVendedorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditVendedorLabel_idVendedor}" for="idVendedor" />
                    <h:inputText id="idVendedor" value="#{vendedorController.selected.idVendedor}" title="#{bundle.EditVendedorTitle_idVendedor}" required="true" requiredMessage="#{bundle.EditVendedorRequiredMessage_idVendedor}"/>
                    <h:outputLabel value="#{bundle.EditVendedorLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{vendedorController.selected.nombre}" title="#{bundle.EditVendedorTitle_nombre}" required="true" requiredMessage="#{bundle.EditVendedorRequiredMessage_nombre}"/>
                </h:panelGrid>
                <h:commandLink action="#{vendedorController.update}" value="#{bundle.EditVendedorSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditVendedorViewLink}"/>
                <br />
                <h:commandLink action="#{vendedorController.prepareList}" value="#{bundle.EditVendedorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.EditVendedorIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
