<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditRolTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditRolLabel_idRol}" for="idRol" />
                    <p:inputText id="idRol" value="#{rolController.selected.idRol}" title="#{bundle.EditRolTitle_idRol}" required="true" requiredMessage="#{bundle.EditRolRequiredMessage_idRol}"/>
                    <h:outputLabel value="#{bundle.EditRolLabel_descripcion}" for="descripcion" />
                    <p:inputText id="descripcion" value="#{rolController.selected.descripcion}" title="#{bundle.EditRolTitle_descripcion}" required="true" requiredMessage="#{bundle.EditRolRequiredMessage_descripcion}"/>
                </h:panelGrid>
                <h:commandLink action="#{rolController.update}" value="#{bundle.EditRolSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditRolViewLink}"/>
                <br />
                <h:commandLink action="#{rolController.prepareList}" value="#{bundle.EditRolShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.EditRolIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
