<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/template.xhtml"
                xmlns:h="http://java.sun.com/jsf/html">
    
    <ui:define name="title">
        <h:outputText value="Indicadores de cartera"/>
    </ui:define>
    <ui:define name="body">
        <p:barChart value="#{indicadoresMB.clientesMorosos}" legendPosition="ne"
                            title="Top 10 de clientes morosos" shadow="false" legendRows="1"
                            datatipFormat="C$ %2$d" 
                            seriesColors="00B0F6,D40D7D,FFE900" min="0"
                            />
        <h:form>
        <p:layout style="height: 450px!important" >
            <p:layoutUnit position="center" size="420" >
                <p:layout >
                    <p:layoutUnit position="west"  styleClass="layoutIndicador">
                        <h:outputText value="Seleccione una opción"/><br/>
                        <!--<h:form>-->
                            <p:selectOneMenu label="Seleccione una opción" value="#{indicadoresMB.cliente}"  >
                                <p:ajax event="change" listener="#{indicadoresMB.ventasPorCliente()}" update="clientes" />
                                <f:selectItem itemLabel="----" itemValue="#{null}"/>
                                <f:selectItems value="#{clienteController.obtenerClientes()}" var="cliente" itemValue="#{cliente}" itemLabel="#{cliente.nombre}"/>
                            </p:selectOneMenu>
                        <!--</h:form>-->
                        <p:barChart value="#{indicadoresMB.ventasClientes}" id="clientes" legendPosition="ne"
                                        shadow="false" legendRows="1"
                                        datatipFormat="C$ %2$d" barMargin="6"  styleClass="barChartInd"
                                        seriesColors="00B0F6,D40D7D,FFE900" min="0" title="Ventas por cliente"
                                        />
                    </p:layoutUnit>
                    <p:layoutUnit position="center"  styleClass="layoutIndicador">
                        <h:outputText value="Seleccione una opción"/><br/>
                            <p:selectOneMenu label="Seleccione una opción" value="#{indicadoresMB.clasificacion}"  >
                                <p:ajax event="change" listener="#{indicadoresMB.ventasPorCategoria()}" update="clasificacion" />
                                <f:selectItem itemLabel="No clasificado" itemValue="No clasificado"/>
                                <f:selectItems value="#{clasificacionController.clasificaciones}" var="cat" itemValue="#{cat.descripcion}" itemLabel="#{cat.descripcion}"/>
                            </p:selectOneMenu>
                        <p:barChart id="clasificacion" value="#{indicadoresMB.ventasCategoria}" shadow="false" legendPosition="ne" 
                                    datatipFormat="C$ %2$d" barMargin="6" styleClass="barChartInd" legendCols="2" min="0"
                                        seriesColors="00B0F6,D40D7D,FFE900" title="Ventas por clasificación"
                                        />
                    </p:layoutUnit>
                    <p:layoutUnit position="east" styleClass="layoutIndicador">
                        <h:outputText value="Seleccione una opción"/><br/>
                            <p:selectOneMenu label="Seleccione una opción" value="#{indicadoresMB.vendedor}"  >
                                <p:ajax event="change" listener="#{indicadoresMB.ventasPorVendedores()}" update="vendedores" />
                                <f:selectItem itemLabel="[Sin comisión]" itemValue="[Sin comisión]"/>
                                <f:selectItems value="#{vendedorController.nombreVendedores}" var="vendedor" itemValue="#{vendedor.vendedor}" itemLabel="#{vendedor.vendedor}"/>
                            </p:selectOneMenu>
                        <p:barChart id="vendedores" value="#{indicadoresMB.vendedores}" title="Ventas por vendedor"
                                    shadow="false" legendRows="1" legendPosition="ne" min="0"
                                    datatipFormat="C$ %2$d" barMargin="6" styleClass="barChartInd"
                                    seriesColors="00B0F6,D40D7D,FFE900"
                                    />
                    </p:layoutUnit>
                </p:layout>
            </p:layoutUnit>
        </p:layout>
        </h:form>
    </ui:define>
    
</ui:composition>
