<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:jr="http://jasperreportjsf.sf.net/tld/jasperreports-jsf-1_2.tld">
    
    <ui:composition template="../template.xhtml">
        <ui:define name="title">
            <h:outputText value="Informe de estado de cuenta"/>
        </ui:define>
        <ui:define name="body">
            <h:form id="panel">
                <h:panelGrid columns="4">
                
                    <h:outputText value="Seleccione un cliente"/>
                    <h:outputText value="Fecha de emisión"/>
                    <h:outputText value="Fecha de vencimiento"/><br/>
                    <p:selectOneMenu value="#{clienteController.selected}" valueChangeListener="#{clienteController.selected}"  >
                        <f:selectItem itemLabel="------"/>
                        <f:selectItems value="#{clienteController.obtenerClientes()}" var="cliente" itemLabel="#{cliente.nombre}" itemValue="#{cliente}"/>
                    </p:selectOneMenu>
                    <p:calendar id="fechaInicio" value="#{pdfMB.fechaInicio}" disabled="#{!pdfMB.marcadorFechas}" />
                    <p:calendar id="fechaFin" value="#{pdfMB.fechaFin}" disabled="#{!pdfMB.marcadorFechas}" />  
                    <p:selectBooleanCheckbox itemLabel="Filtrar por fechas" label="Filtrar por fechas" value="#{pdfMB.marcadorFechas}" valueChangeListener="#{pdfMB.cambiarFechas()}">
                        <p:ajax update=":panel:fechaInicio"/>
                        <p:ajax update=":panel:fechaFin"/>
                    </p:selectBooleanCheckbox>
                
            </h:panelGrid>
                <p:commandButton value="Generar" onclick="form.update();"/>
            </h:form>
            <h:form id="form"  >
            <jr:reportFrame id="pdf" value="#{clienteController.getEstadoDeCuentaPDF(true)}" height="500" width="100%" />
            </h:form>
        </ui:define>
    </ui:composition>
</html>

