<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePagoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePagoLabel_idPago}" for="idPago" />
                    <p:inputText id="idPago" value="#{pagoController.selected.idPago}" title="#{bundle.CreatePagoTitle_idPago}" required="true" requiredMessage="#{bundle.CreatePagoRequiredMessage_idPago}"/>
                    <h:outputLabel value="#{bundle.CreatePagoLabel_monto}" for="monto" />
                    <p:inputText id="monto" value="#{pagoController.selected.monto}" title="#{bundle.CreatePagoTitle_monto}" required="true" requiredMessage="#{bundle.CreatePagoRequiredMessage_monto}"/>
                    <h:outputLabel value="#{bundle.CreatePagoLabel_factura}" for="factura" />
                    <p:selectOneMenu id="factura" value="#{pagoController.selected.factura}" required="true" requiredMessage="#{bundle.CreatePagoRequiredMessage_factura}">
                        <f:selectItems value="#{facturaController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreatePagoLabel_carga}" for="carga" />
                    <p:selectOneMenu id="carga" value="#{pagoController.selected.carga}" required="true" requiredMessage="#{bundle.CreatePagoRequiredMessage_carga}">
                        <f:selectItems value="#{cargaController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pagoController.create}" value="#{bundle.CreatePagoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{pagoController.prepareList}" value="#{bundle.CreatePagoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.CreatePagoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
