<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPagoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPagoLabel_idPago}"/>
                    <h:outputText value="#{pagoController.selected.idPago}" title="#{bundle.ViewPagoTitle_idPago}"/>
                    <h:outputText value="#{bundle.ViewPagoLabel_monto}"/>
                    <h:outputText value="#{pagoController.selected.monto}" title="#{bundle.ViewPagoTitle_monto}"/>
                    <h:outputText value="#{bundle.ViewPagoLabel_factura}"/>
                    <h:outputText value="#{pagoController.selected.factura}" title="#{bundle.ViewPagoTitle_factura}"/>
                    <h:outputText value="#{bundle.ViewPagoLabel_carga}"/>
                    <h:outputText value="#{pagoController.selected.carga}" title="#{bundle.ViewPagoTitle_carga}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pagoController.destroyAndView}" value="#{bundle.ViewPagoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPagoEditLink}"/>
                <br />
                <h:commandLink action="#{pagoController.prepareCreate}" value="#{bundle.ViewPagoCreateLink}" />
                <br />
                <h:commandLink action="#{pagoController.prepareList}" value="#{bundle.ViewPagoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.ViewPagoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
