<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../template.xhtml"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">
    
    <ui:define name="title">
        Carga masiva de notas de débito y crédito
    </ui:define>
    <ui:define name="body">
        <h:form id="form">
            <p:growl life="3000" id="mensajes" showDetail="true"/>
            <p:fileUpload cancelLabel="Deshacer selección" uploadLabel="Cargar" label="Seleccionar" update="form" fileUploadListener="#{cargaController.cargarNotas}"> 
            </p:fileUpload>
            <p:messages id="listaMensajes"/>
            <p:commandButton update="mensajes" ajax="false" id="guardar" disabled="#{!cargaController.activarGuardar}" value="Guardar" action="#{cargaController.create()}"/>
            <p:commandButton ajax="false" value="Cancelar" action="CargaNotas.xhtml">
                <f:setPropertyActionListener target="#{cargaController.activarGuardar}" value="#{false}"/>
            </p:commandButton>
        </h:form>
    </ui:define>
</ui:composition>

