<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../template.xhtml"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">
    
    <ui:define name="title">
        Carga masiva de clientes
    </ui:define>
    <ui:define name="body">
        <h:form id="form">
            <p:growl life="3000" id="mensajes" showDetail="true"/>
            <h:outputText value="Registre múltiples clientes en la base de datos desde un archivo de excel"/><br/>
                          Para ello debe colocar los siguientes datos:<br/><br/>
                          - Código identificador del cliente<br/>
                          - Nombre o razón social<br/>
                          - Correo electrónico del cliente<br/>
                          - Las subcategorías a las que pertenece el cliente. Estas deben estar debidamente registradas en el sistema<br/>
                         
                              <p:fileUpload auto="true" cancelLabel="Deshacer selección" uploadLabel="Cargar" label="Seleccionar" update="form"  fileUploadListener="#{clienteController.agregarClientes}"> 
                                  
                              </p:fileUpload> 
                              <p:messages/>
                              <br/>
                              <p:commandButton id="guardar" value="Guardar clientes" update="" onclick="PF('pb').start();pb.update();" disabled="#{!clienteController.activarGuardar}" ajax="false" action="#{clienteController.guardarClientes()}" />
                              <p:commandButton ajax="false" value="Cancelar" action="CargaClientes.xhtml">
                                    <f:setPropertyActionListener target="#{clienteController.activarGuardar}" value="#{false}"/>
                              </p:commandButton>
        </h:form>
    </ui:define>
</ui:composition>

