<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="../template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">
        
    <ui:define name="title">
        <h:outputText value="Detalle de la carga realizada"/>
    </ui:define>
    <ui:define name="body">
        <h:form>
            <h:panelGroup>
                <h:outputText value="Id carga: #{cargaController.selected.idCarga}"/><br/>
                <h:outputText value="Descripción: #{cargaController.selected.descripcion}"/><br/>
                <h:outputText value="Fecha: #{cargaController.selected.fecha}">
                    <f:convertDateTime pattern="EEEE dd 'de' MMMM',' yyyy"/>
                </h:outputText><br/>
                <h:outputText value="Usuario: #{cargaController.selected.usuario.nombre}"/><br/>
            </h:panelGroup>
            <h:panelGroup>
                <p:dataTable value="#{cargaController.selected.facturaList}"
                             rendered="#{cargaController.selected.facturaList.size()>0 
                                         or not empty cargaController.selected.facturaList}" var="factura"
                             emptyMessage="No hay registros"
                             paginator="true"
                             rows="10" 
                             paginatorTemplate="{CurrentPageReport}  
                             {FirstPageLink} {PreviousPageLink} 
                             {PageLinks} {NextPageLink} 
                             {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="10,15,20" >
                    <f:facet name="header">
                        Detalle de facturas
                    </f:facet>
                    <p:column headerText="Factura nº">
                        <h:outputText value="#{factura.idFactura}"/>
                    </p:column>
                    <p:column headerText="Cliente">
                        <h:outputText value="#{factura.cliente.nombre}"/>
                    </p:column>
                    <p:column headerText="Fecha emision">
                        <h:outputText value="#{factura.fechaEmision}">
                            <f:convertDateTime pattern="EEEE dd 'de' MMMM',' yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Fecha vencimiento">
                        <h:outputText value="#{factura.fechaVencimiento}">
                            <f:convertDateTime pattern="EEEE dd 'de' MMMM',' yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Vendedor">
                        <h:outputText value="#{factura.vendedor.nombre}"/>
                    </p:column>
                    <p:column headerText="Monto de factura">
                        <h:outputText value="C$ #{factura.monto}">
                           
                        </h:outputText>
                    </p:column>
                </p:dataTable>
            </h:panelGroup>
            <p:separator rendered="#{not empty cargaController.obtenerPagosCarga() or not empty cargaController.selected.facturaList}"/>
            <h:panelGroup >
                <p:dataTable value="#{cargaController.obtenerPagosCarga()}"
                             rendered="#{cargaController.obtenerPagosCarga().size()>0 
                                         or not empty cargaController.obtenerPagosCarga()}" var="pago"
                             emptyMessage="No hay registros"
                             paginator="true"
                             rows="10" 
                             paginatorTemplate="{CurrentPageReport}  
                             {FirstPageLink} {PreviousPageLink} 
                             {PageLinks} {NextPageLink} 
                             {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="10,15,20" >
                    <f:facet name="header">
                        Detalle de Pagos
                    </f:facet>
                    <p:column headerText="Pago nº">
                        <h:outputText value="#{pago.idPago}"/>
                    </p:column>
                    <p:column headerText="Factura nº">
                        <h:outputText value="#{pago.factura}"/>
                    </p:column>
                    <p:column headerText="Cliente">
                        <h:outputText value="#{pago.factura.cliente.nombre}"/>
                    </p:column>
                    
                    <p:column headerText="Monto pagado">
                        <h:outputText value="C$ #{pago.monto}">
                            
                        </h:outputText>
                    </p:column>
                </p:dataTable>
            </h:panelGroup>
            <h:panelGroup>
                <p:dataTable rendered="#{cargaController.selected.notaList.size()>0 or not empty cargaController.selected.notaList}"
                             value="#{cargaController.selected.notaList}" var="nota"
                             emptyMessage="No hay registros"
                             paginator="true"
                             rows="10" 
                             paginatorTemplate="{CurrentPageReport}  
                             {FirstPageLink} {PreviousPageLink} 
                             {PageLinks} {NextPageLink} 
                             {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="10,15,20" >
                     <f:facet name="header">
                        Detalle de Notas Pendientes
                     </f:facet>
                    <p:column headerText="Nota nº">
                        <h:outputText value="#{nota.idNota}"/>
                    </p:column>
                    <p:column headerText="Factura nº">
                        <h:outputText value="#{nota.factura}"/>
                    </p:column>
                    <p:column headerText="Fecha de Emisión">
                        <h:outputText value="#{nota.fecha}"/>
                    </p:column>
                    <p:column headerText="Tipo nota">
                        <h:outputText value="#{nota.tipoNota}"/>
                    </p:column>
                    <p:column headerText="Monto">
                        <h:outputText value="C$ #{nota.monto}"/>
                    </p:column>
                    <p:column headerText="Observaciones">
                        <h:outputText value="#{nota.observaciones}"/>
                    </p:column>
                </p:dataTable>
            </h:panelGroup>
            <p:separator/>
            <h:panelGroup>
                <p:dataTable rendered="#{cargaController.selected.notaPendienteList.size()>0 or not empty cargaController.selected.notaPendienteList}"
                             value="#{cargaController.selected.notaPendienteList}" var="nota"
                             emptyMessage="No hay registros"
                             paginator="true"
                             rows="10" 
                             paginatorTemplate="{CurrentPageReport}  
                             {FirstPageLink} {PreviousPageLink} 
                             {PageLinks} {NextPageLink} 
                             {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="10,15,20" >
                     <f:facet name="header">
                        Detalle de Notas de Factura
                     </f:facet>
                    <p:column headerText="Nota nº">
                        <h:outputText value="#{nota.idNotaPendiente}"/>
                    </p:column>
                    <p:column headerText="Cliente">
                        <h:outputText value="#{nota.cliente.nombre}"/>
                    </p:column>
                    <p:column headerText="Fecha de Emisión">
                        <h:outputText value="#{nota.fecha}"/>
                    </p:column>
                    <p:column headerText="Tipo nota">
                        <h:outputText value="#{nota.tipoNota}"/>
                    </p:column>
                    <p:column headerText="Monto">
                        <h:outputText value="C$ #{nota.monto}"/>
                    </p:column>
                    <p:column headerText="Observaciones">
                        <h:outputText value="#{nota.observaciones}"/>
                    </p:column>
                </p:dataTable>
            </h:panelGroup>
            <h:commandLink value="Ver registros invalidados" action="RegistrosInvalidos.xhtml" />
        </h:form>
    </ui:define>
</ui:composition>


