<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCargaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCargaLabel_idCarga}" for="idCarga" />
                    <p:inputText id="idCarga" value="#{cargaController.selected.idCarga}" title="#{bundle.EditCargaTitle_idCarga}" required="true" requiredMessage="#{bundle.EditCargaRequiredMessage_idCarga}"/>
                    <h:outputLabel value="#{bundle.EditCargaLabel_descripcion}" for="descripcion" />
                    <p:inputText id="descripcion" value="#{cargaController.selected.descripcion}" title="#{bundle.EditCargaTitle_descripcion}" />
                    <h:outputLabel value="#{bundle.EditCargaLabel_fecha}" for="fecha" />
                    <p:inputText id="fecha" value="#{cargaController.selected.fecha}" title="#{bundle.EditCargaTitle_fecha}" required="true" requiredMessage="#{bundle.EditCargaRequiredMessage_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </p:inputText>
                    <h:outputLabel value="#{bundle.EditCargaLabel_usuario}" for="usuario" />
                    <p:selectOneMenu id="usuario" value="#{cargaController.selected.usuario}" required="true" requiredMessage="#{bundle.EditCargaRequiredMessage_usuario}">
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{cargaController.update}" value="#{bundle.EditCargaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCargaViewLink}"/>
                <br />
                <h:commandLink action="#{cargaController.prepareList}" value="#{bundle.EditCargaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.EditCargaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
