<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCargaTitle}"></h:outputText>
            <f:view>
                <f:event listener="#{cargaController.prepareList()}" type="preRenderView" />
            </f:view>
        </ui:define>
        <ui:define name="body">
            <h:form >
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCargaEmpty}" rendered="#{cargaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{cargaController.items.rowCount > 0}">
                    <p:dataTable styleClass="tabla" value="#{cargaController.items}" var="item" 
                                 paginator="true"
                             rows="10" 
                             
                             paginatorTemplate="{CurrentPageReport}  
                             {FirstPageLink} {PreviousPageLink} 
                             {PageLinks} {NextPageLink} 
                             {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15">
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCargaTitle_idCarga}"/>
                            </f:facet>
                            <h:outputText value="#{item.idCarga}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCargaTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCargaTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="EEEE dd 'de' MMMM',' yyyy hh:mm:ss aa"/>
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCargaTitle_usuario}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuario.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <p:commandButton action="#{cargaController.prepareView()}" value="#{bundle.ListCargaViewLink}">
                               
                            </p:commandButton>
                            <h:outputText value=" "/>
                            <p:commandButton action="#{cargaController.prepareEdit}" disabled="true" value="#{bundle.ListCargaEditLink}"/>
                            <h:outputText value=" "/>
                            <p:commandButton oncomplete="PF('dlg').show();" value="#{bundle.ListCargaDestroyLink}">
                                <f:setPropertyActionListener target="#{cargaController.selected}" value="#{item}"/>
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:panelGroup>
                <br />
                
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.ListCargaIndexLink}"/>
            </h:form>
            <p:dialog appendTo="@(Body)" header="Confirmar" id="confirmaEliminar" widgetVar="dlg" modal="true" >
                <h:form>
                    <h:outputLabel value="Si elimina la carga, eliminará todos sus registros relacionados ¿Está seguro de eliminar la carga?"/>
                    <br/>
                    <p:commandButton ajax="false" value="Si" action="#{cargaController.destroy}" oncomplete="dlg.update();dlg.hide();"/>
                    <p:commandButton value="No" onclick="PF('dlg').hide();"/>
                </h:form>
            </p:dialog>
           
        </ui:define>
    </ui:composition>

</html>
