<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="../template.xhtml">
    
    <ui:define name="title">
        <h:outputText value="Registros no validados durante la carga"/>
    </ui:define>
    
    <ui:define name="body">
        <h:form>
            <p:dataTable value="#{cargaController.selected.rechazoList}" var="rechazo" emptyMessage="No hay datos"
                         paginator="true" rows="10"  
                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                 rowsPerPageTemplate="5,10,15">
                <f:facet name="header">
                    <h:outputText value="Detalle de registros no validados de la carga nº #{cargaController.selected.idCarga}"/>
                </f:facet>
                <p:column id="idRechazo" headerText="Nº de rechazo">
                    <h:outputText value="#{rechazo.idRechazo}"/>
                </p:column>
                <p:column id="factura" headerText="Nº de factura">
                    <h:outputText value="#{rechazo.factura}"/>
                </p:column>
                <p:column id="cliente" headerText="Cliente">
                    <h:outputText value="#{rechazo.cliente}"/>
                </p:column>
                <p:column id="fechaEmision" headerText="Fecha de emisión">
                    <h:outputText value="#{rechazo.fechaEmision}">
                        <f:convertDateTime pattern="EEEE dd 'de' MMMM',' yyyy"/>
                    </h:outputText>
                </p:column>
                <p:column id="fechaVencimiento" headerText="Fecha de vencimiento">
                    <h:outputText value="#{rechazo.fechaVencimiento}">
                        <f:convertDateTime pattern="EEEE dd 'de' MMMM',' yyyy"/>
                    </h:outputText>
                </p:column>
                <p:column id="vendedor" headerText="Vendedor">
                    <h:outputText value="#{rechazo.vendedor}"/>
                </p:column>
                <p:column id="saldo" headerText="Saldo">
                    <h:outputText value="#{rechazo.monto}"/>
                </p:column>
                <p:column id="numFila" headerText="Fila">
                    <h:outputText value="#{rechazo.numFila}"/>
                </p:column>
                <p:column id="observaciones" headerText="Observaciones">
                    <h:outputText value="#{rechazo.observaciones}"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
    
</ui:composition>