<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCargaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCargaLabel_idCarga}"/>
                    <h:outputText value="#{cargaController.selected.idCarga}" title="#{bundle.ViewCargaTitle_idCarga}"/>
                    <h:outputText value="#{bundle.ViewCargaLabel_descripcion}"/>
                    <h:outputText value="#{cargaController.selected.descripcion}" title="#{bundle.ViewCargaTitle_descripcion}"/>
                    <h:outputText value="#{bundle.ViewCargaLabel_fecha}"/>
                    <h:outputText value="#{cargaController.selected.fecha}" title="#{bundle.ViewCargaTitle_fecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewCargaLabel_usuario}"/>
                    <h:outputText value="#{cargaController.selected.usuario}" title="#{bundle.ViewCargaTitle_usuario}"/>
                </h:panelGrid>
                <h:panelGroup>
                <p:dataTable rendered="#{cargaController.selected.facturaList.size()>0}" value="#{cargaController.selected.facturaList}" var="factura"
                             emptyMessage="No hay registros"
                             paginator="true" rows="10"  
                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                 rowsPerPageTemplate="5,10,15"
                 paginatorPosition="bottom">
                    <f:facet name="header">
                        Detalle de facturas
                    </f:facet>
                    <p:column headerText="Factura nº">
                        <h:outputText value="#{factura.idFactura}"/>
                    </p:column>
                    <p:column headerText="Cliente">
                        <h:outputText value="#{factura.cliente.nombre}"/>
                    </p:column>
                    <p:column headerText="Fecha emision">
                        <h:outputText value="#{factura.fechaEmision}">
                            <f:convertDateTime pattern="EEEE dd 'de' MMMM',' yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Fecha vencimiento">
                        <h:outputText value="#{factura.fechaVencimiento}">
                            <f:convertDateTime pattern="EEEE dd 'de' MMMM',' yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Saldo de factura">
                        <h:outputText value="C$ #{factura.monto}">
                           
                        </h:outputText>
                    </p:column>
                </p:dataTable>
            </h:panelGroup>
            <p:separator rendered="#{not empty cargaController.obtenerPagosCarga() or not empty cargaController.selected.facturaList}"/>
            <h:panelGroup >
                <p:dataTable value="#{cargaController.obtenerPagosCarga()}" var="pago"
                             emptyMessage="No hay registros"
                             paginator="true" rows="10"  
                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                 rowsPerPageTemplate="5,10,15">
                    <f:facet name="header">
                        Detalle de Pagos
                    </f:facet>
                    <p:column headerText="Pago nº">
                        <h:outputText value="#{pago.idPago}"/>
                    </p:column>
                    <p:column headerText="Factura nº">
                        <h:outputText value="#{pago.factura}"/>
                    </p:column>
                    <p:column headerText="Cliente">
                        <h:outputText value="#{pago.factura.cliente.nombre}"/>
                    </p:column>
                    <p:column headerText="Monto pagado">
                        <h:outputText value="C$ #{pago.monto}"/>
                    </p:column>
                </p:dataTable>
            </h:panelGroup>
                <br />
                <h:commandLink action="#{cargaController.destroyAndView}" value="#{bundle.ViewCargaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCargaEditLink}"/>
                <br />
                <h:commandLink action="#{cargaController.prepareCreate}" value="#{bundle.ViewCargaCreateLink}" />
                <br />
                <h:commandLink action="#{cargaController.prepareList}" value="#{bundle.ViewCargaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/inicio" value="#{bundle.ViewCargaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
