<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">
    <ui:define name="title">
        Inicio
    </ui:define>
    <ui:define name="body">
        <h:form rendered="#{sesionMB.isAdmin()}">
            <f:event listener="#{miscMB.actualizarCalendarioAdmin()}" type="preRenderComponent"/>
            <p:poll listener="#{miscMB.actualizarCalendarioAdmin()}" interval="15" onsuccess="micalendario.update();"/>
        </h:form>
        <h:form rendered="#{!sesionMB.isAdmin()}">
            <f:event listener="#{miscMB.actualizarCalendarioAux(sesionMB.usuario)}" type="preRenderComponent"/>
            <p:poll listener="#{miscMB.actualizarCalendarioAux(sesionMB.usuario)}" interval="15" onsuccess="micalendario.update();"/>
        </h:form>
        <p:layout styleClass="layout">
            <p:layoutUnit position="center" resizable="true" maxSize="500" minSize="200">
                <h:outputText value="Estado actual de la cartera"/>
                <p:barChart value="#{miscMB.vencimientoDeFacturas()}"
                            title="Vencimiento de facturas" shadow="false" legendRows="#{true}"
                            datatipFormat="%2$d Facturas" barMargin="6"
                            yaxisLabel="Cantidad de facturas"
                            xaxisLabel="Vencimiento" styleClass="barChart"
                            seriesColors="00B0F6,D40D7D,FFE900"
                            />
            </p:layoutUnit>
            <p:layoutUnit resizable="true" position="east" maxSize="500" minSize="200" size="40%">
                <p:layout id="panelDerecha" >
                    <p:layoutUnit position="south" size="100" >
                      
                        <p:outputPanel id="panelDetalle" >
                            <h:form >
                            <h:outputLabel for="title" value="Evento: " rendered="#{miscMB.evento!=null}" />
                            <h:outputText id="title" value="#{miscMB.evento.title}" rendered="#{miscMB.evento!=null}" /><br/>
                            <h:outputLabel for="fecha" value="Vence: " rendered="#{miscMB.evento!=null}" />
                            <h:outputText id="fecha" value="#{miscMB.evento.endDate}" rendered="#{miscMB.evento!=null}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText>
                            </h:form>
                            <h:form id="form1" rendered="#{miscMB.factura!=null}">
                            <p:commandLink value="Ver factura" action="/factura/View?faces-redirect=true" rendered="#{miscMB.factura!=null}">
                                <f:setPropertyActionListener target="#{facturaController.selected}" value="#{miscMB.factura}"/>
                            </p:commandLink><br/>
                            <p:commandLink value="Asignar gestión" onclick="PF('dlg1').show();return false;" action="#{gestionController.preparar()}" rendered="#{miscMB.factura!=null}">
                                <f:setPropertyActionListener target="#{gestionController.factura}" value="#{miscMB.factura}"/>
                            </p:commandLink>
                            </h:form>
                            <h:form id="form2" rendered="#{miscMB.gestion!=null}">
                            <h:outputLabel value="Asignado a: " rendered="#{miscMB.gestion!=null}"/>
                            <h:outputText value="#{miscMB.gestion.usuario.nombre}" rendered="#{miscMB.gestion!=null}"/>
                            <br/>
                            <h:outputLabel value="Estado: " rendered="#{miscMB.gestion!=null}"/>
                            <h:commandLink value="#{miscMB.gestion.estado}" action="/gestion/Edit?faces-redirect=true" rendered="#{miscMB.gestion!=null and miscMB.gestion.usuario==sesionMB.usuario}">
                                <f:setPropertyActionListener target="#{gestionController.selected}" value="#{miscMB.gestion}"/>
                            </h:commandLink>
                            <h:outputText value="#{miscMB.gestion.estado}" rendered="#{miscMB.gestion!=null and miscMB.gestion.usuario!=sesionMB.usuario}"/>
                            <br/>
                            <h:outputLabel value="Observaciones: " rendered="#{miscMB.gestion!=null and miscMB.gestion.observaciones!=null}"/>
                            <h:outputLabel value="#{miscMB.gestion.observaciones}" rendered="#{miscMB.gestion!=null and miscMB.gestion.observaciones!=null}"/>
                            </h:form>
                        </p:outputPanel>
                    
                    </p:layoutUnit>
                    <p:layoutUnit position="center" id="calendar">
                        <h:form>
                        <p:schedule widgetVar="micalendario" locale="es" id="calendario" 
                                    draggable="false" view="month" value="#{miscMB.calendario}"  
                                    styleClass="calendario" minTime="0" maxTime="0"
                                    resizable="false">
                            <p:ajax event="eventSelect" update=":panelDetalle" listener="#{miscMB.seleccionarEvento}"/>
                            <p:ajax event="dateSelect"  listener="#{miscMB.anularEvento}" update=":panelDetalle"/>
                        </p:schedule>
                        </h:form>
                    </p:layoutUnit>
                    
                </p:layout>
                
                <!--<p:commandLink value="Ver detalle de las actividades"/>-->
                
            </p:layoutUnit>
        </p:layout>
        <p:dialog id="dialogoGestion" header="Asignar nueva gestión" widgetVar="dlg1" >
            <p:ajax event="close" update="dialogoGestion"/>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateGestionLabel_descripcion}" for="descripcion" />
                    <p:inputText id="descripcion" value="#{miscMB.nuevaGestion.descripcion}" title="#{bundle.CreateGestionTitle_descripcion}" />
                    <h:outputLabel value="#{bundle.CreateGestionLabel_fechaLimiteGestion}" for="fechaLimiteGestion" />
                    <p:calendar locale="es" pattern="dd/MM/yyyy" id="fechaLimiteGestion" value="#{miscMB.nuevaGestion.fechaLimiteGestion}" title="#{bundle.CreateGestionTitle_fechaLimiteGestion}" required="true" requiredMessage="#{bundle.CreateGestionRequiredMessage_fechaLimiteGestion}">
                    </p:calendar>
                    <h:outputLabel value="#{bundle.CreateGestionLabel_usuario}" for="usuario" />
                    <p:selectOneMenu id="usuario" value="#{miscMB.nuevaGestion.usuario}"  required="true" requiredMessage="#{bundle.CreateGestionRequiredMessage_usuario}">
                        <f:selectItems value="#{usuarioController.itemsAvailableSelectOne}"/>
                    </p:selectOneMenu>
                </h:panelGrid>
                <br />
                <p:commandButton onsuccess="micalendario.update();PF('dlg1').hide();" action="#{gestionController.crearGestion()}" value="#{bundle.CreateGestionSaveLink}" >
                    <f:setPropertyActionListener target="#{gestionController.selected}" value="#{miscMB.nuevaGestion}"/>
                    <f:setPropertyActionListener target="#{gestionController.factura}" value="#{miscMB.factura}"/>
                    <f:setPropertyActionListener value="#{null}" target="#{miscMB.nuevaGestion}"/>
                    <f:actionListener binding="#{miscMB.anularNuevaGestion()}"/>
                    <f:actionListener binding="#{miscMB.agregarGestion(gestionController.selected)}"/>
                </p:commandButton>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>

