<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>CaryCob - <ui:insert name="title">Cartera y Cobro</ui:insert></title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
        <h:outputStylesheet name="css/estilo.css"/>
        <p:growl id="mensajes" showDetail="true" life="3000"/>
        
    </h:head>

    <h:body>
        <h:form>
            <p:menubar>
                <p:menuitem value="Inicio" url="../inicio.xhtml"/>
                <p:submenu label="Cargas">
                    <p:menuitem value="Cargar" url="../carga/carga.xhtml"/>
                    <p:menuitem value="Lista" url="../carga/List.xhtml"/>
                </p:submenu>
                <p:menuitem value="Clientes" url="../cliente/List.xhtml"/>
            </p:menubar>
        </h:form>
        
        <h1>
            <ui:insert name="title">Default Title</ui:insert>
        </h1>
        <p>
            <ui:insert name="body">Default Body</ui:insert>
        </p>
    </h:body>

</html>
