<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>CaryCob - <ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
        <h:outputStylesheet name="css/estilo.css"/>
        <h:outputScript name="js/local.js"/>
        <p:growl id="mensajes" showDetail="true" life="3000"/>
    </h:head>

    <h:body>
        <h:form>
            
            <p:menubar styleClass="panelMenu">
                <p:menuitem value="Inicio" url="/inicio.xhtml"/>
                
                <c:if test="#{sesionMB.isLogueado()}">
                    
                    <p:submenu label="Cargas" rendered="#{sesionMB.isAdmin()}">
                        <p:menuitem value="Lista" url="/carga/List.xhtml"/>
                        <p:menuitem value="Cargar facturas" url="/carga/carga.xhtml"/>
                        <p:menuitem value="Cargar notas" url="/carga/CargaNotas.xhtml"/>
                    </p:submenu>
                    <p:submenu label="Clientes">
                        <p:menuitem value="Ver clientes" url="/cliente/List.xhtml"/>
                        <p:menuitem value="Grabar clientes" url="/carga/CargaClientes.xhtml" disabled="#{!sesionMB.isAdmin()}"/>
                    </p:submenu>
                    <p:submenu label="Notas" >
                        <p:menuitem value="Notas de factura" url="/nota/List.xhtml"/>
                        <p:menuitem value="Notas pendientes" url="/notaPendiente/List.xhtml"/>
                    </p:submenu>
                    <c:if test="#{sesionMB.isAdmin()}" >
                        <p:submenu label="Opciones" >
                            <p:menuitem value="Categorías" url="/clasificacion/List.xhtml"/>
                            <p:menuitem value="Usuarios" url="/usuario/List.xhtml"/>
                            <p:menuitem value="Tareas" url="/gestion/List.xhtml" />
                            <p:menuitem value="Vendedores" url="/vendedor/List.xhtml"/>
                            <p:menuitem value="Indicadores" url="/Reportes/indicadores.xhtml"/>
                        </p:submenu>
                    </c:if>
                    <c:if test="#{!sesionMB.isAdmin()}">
                        <p:menuitem value="Tareas" url="/gestion/List.xhtml" />
                        <p:menuitem value="Indicadores" url="/Reportes/indicadores.xhtml"/>
                    </c:if>
                    <f:facet name="options">
                        <h:outputText value="Bienvenido #{sesionMB.usuario.nombre}"/>
                        <p:commandButton  value="Salir" action="#{sesionMB.logout()}" style="font-style: oblique; color: #003bb3"/> 
                    </f:facet>
                </c:if>
  
            </p:menubar>
        </h:form>
        

        
        <h1>
            <ui:insert name="title">Default Title</ui:insert>
        </h1>
        <p>
            <ui:insert name="body">Default Body</ui:insert>
        </p>
    </h:body>

</html>
